[2015-12-15 22:47] craig-martin opened #4 "[SharePointSync] Set-MIISECMA2Configuration : A parameter cannot be found that matches parameter name 'ParameterUse'."
SharePointSync.psm1 requires at least version 4.3.2064 of MIM Sync because it includes fixes to the MIM PowerShell module.  If that version of MIM Sync is not installed then the Install-SharePointSync function would fail with this error:

The latest version of SharePointSync.psm1 will detect this an fail early.

To get 4.3.2064, go here:
https://support.microsoft.com/en-us/kb/3092179

[2015-12-18 16:27] #4 closed

[2015-12-18 16:28] craig-martin commented on #4
Fixed in the latest pull request.

[2016-01-04 17:43] craig-martin opened #8 "[SharePointSync] SPMA assembly version mismatch prompts user to refresh the configuration"
We were using a server configuration that was based on an older build of the SharePoint Connector.  With that original server configuration, when auto-configured using the script, the customer would also need to go into the MIISClient.exe, and re-enter the password for the SPMA.

With the new server configuration, including the SPMA instance based on the SharePoint Connector 4.3.1935.0, no additio

[2016-01-04 17:44] craig-martin commented on #8
Fixed in this pull request:
https://github.com/OfficeDev/PnP-Tools/pull/7

[2016-01-04 17:44] #8 closed

[2016-01-06 19:52] jerryyasir opened #9 "SharePoint Sync.psm1 Line 121 and later fails."
$domainPartition = Select-Xml -Xml $admaXml -XPath "//ma-partition-data/partition[name='DC=Litware,DC=com']"

VERBOSE: Contacting AD to get the partition details
VERBOSE: Configuring the Active Directory Connector
VERBOSE:   AD Forest:               contoso.local
VERBOSE:   AD OU:                   ou=users,dc=contoso,dc=local
VERBOSE:   AD Credential:           contoso\contosoadmin
VERBOSE:   AD

[2016-01-06 20:10] jerryyasir commented on #9
It is not a issue..  I thought the PowerShell script simply upload the XML but it actually updated the XML to new values and then uploads.

[2016-01-06 20:10] #9 closed

[2016-01-07 17:14] craig-martin commented on #9
Thanks for testing and filing the issue.  I'm interested in the error as I didn't see that in my testing.  Can you describe your environment for me?

[2016-01-07 17:16] craig-martin commented on #8
FYI - the link to the specific hotfix is here: https://support.microsoft.com/en-us/kb/3092179, but in the future you should be able to just get the latest hotfix for MIM.

[2016-01-07 18:56] jerryyasir commented on #9
Environment is AD, SQL, WFE and App Server and MIM is installed on App server.  first time I ran the script, then deleted the configurations from Sync tool, then executed the script again and got the errors as script line refers above does not have litware and inc referenced any more.  I was not sure if my local xml files were updated.  Don't you think it is good a copy of the original and then mo

[2016-01-07 18:59] craig-martin commented on #9
Ah, that makes sense.  I'll file that as a new issue.

[2016-01-07 19:03] craig-martin opened #10 "[SharePointSync] Running Install-SharePointSyncConfiguration a second time fails because the XML files have been modified"
New issue discovered in this thread:
https://github.com/OfficeDev/PnP-Tools/issues/9#issuecomment-169773276

The Install-SharePointSyncConfiguration command modifies the original XML configuration files instead of creating copies.  The problem happens when Install-SharePointSyncConfiguration is run again, it looks for specific items which no longer exist because the file was modified.

[2016-01-08 16:48] jerryyasir opened #11 "PowerShell script does not select all containers for DC=contoso, DC=local"
Ran the import script which completed without any error.
Start-SharePointSync -Verbose  but no profiles showed up in SharePoint.
Check Director Partitions --> Container for DC=contoso, DC=local and no container were selected.
Select the correct container and all profiles showed up in SharePoint.
The setup document must have a pointer to review and select the correct container

![containers](https:

[2016-03-03 22:45] chappy1972 opened #17 "Error running powershell script"
Hi All,

When I run the enable-spresponsiveui poweshell script I receive the following error:

Apply-SPOProvisioningTemplate : Could not load type 'Microsoft.SharePoint.Client.AuditMaskType' from assembly 'Microsoft.SharePoint.Client,
Version=15.0.0.0, Culture=neutral, PublicKeyToken=71e9bce111e9429c'.

Can anybody help?

Many Thanks
Nick

[2016-03-04 09:29] davetansley opened #18 "No viewport meta?"
I've deployed the responsive solution successfully to a blank team site, and the elements reflow nicely when changing the width of my browser. But when viewed on an actual mobile phone, it displays the full page.

I think this is due to the absence of a viewport meta tag in the header, which tells the page to render at the device's width. Something like:

`<meta name="viewport" content="width=devi

[2016-03-04 09:30] davetansley opened #19 "Newsfeed pushes out page on a mobile phone"
When viewing an OOTB team site at mobile device width (320px) the page is pushed out to the right, causing it to scroll.

This is caused by the Newsfeed web part having minimum widths of 450px on a number of elements.

[2016-03-04 13:47] phungui commented on #17
I am getting the same error as poster above:
Apply-SPOProvisioningTemplate : Could not load type
'Microsoft.SharePoint.Client.AuditMaskType' from assembly
'Microsoft.SharePoint.Client, Version=15.0.0.0, Culture=neutral,
PublicKeyToken=71e9bce111e9429c'.

Any ideas?

Jason

[2016-03-04 13:56] VesaJuvonen commented on #17
It seems that the machine which you are running the script has really old CSOM version installed. If you are running the script directly in server side, you are using old SP2013 version and you'd need to update that at least to April 2015 CU.

If you are running the code remotely and you get this exception, you should ensure that you have newer version of the client side components installed from

[2016-03-04 15:11] phungui commented on #17
Thanks for the quick feedback, I will apply the recommended CU and try
again.  Will post an update once I'm done.

Jason

On Fri, Mar 4, 2016 at 10:26 AM, Vesa Juvonen <notifications@github.com>
wrote:

[2016-03-04 15:54] nramar opened #20 "SP Responsive UI Script Not Working on Sp 2016 RC1"
I have enabled with no errors on script but for some reason the responsive does not kick in. I am SP 2016 RC1 release. I see the pnp files are loading on the page. Anything I missed?

![image](https://cloud.githubusercontent.com/assets/17647635/13531863/4b021e28-e1ee-11e5-8e97-667a81cecae0.png)

[2016-03-04 17:15] PaoloPia commented on #20
Hi,
we download jQuery from the CDN (//code.jquery.com/jquery-1.12.0.min.js). Does your machine have internet access?

[2016-03-04 17:18] nramar commented on #20
Yes it does. You want me to download and embed on style library?

Amar

On Friday, March 4, 2016, Paolo Pialorsi <notifications@github.com> wrote:

--
Regards,
Amar

[2016-03-04 17:28] nramar commented on #20
It works fine on Google Chrome. It may have been my IE settings on the server. May be we include the Jquery deployment with the responsive package.

[2016-03-05 07:13] rishiuiit opened #21 "Not working with Good Access"
This is not working Good app/browser for iPad.

[2016-03-05 12:27] PaoloPia commented on #20
Hi, if it works in Chrome, I suggest you to double check security settings of IE. Please let use know. Thanks.

[2016-03-05 14:28] PaoloPia commented on #21
Thanks for your feedback. We will do much more testing. What version of device are you using? Thanks.

[2016-03-05 21:33] PaoloPia commented on #21
Hi, we found some minor issues with iOS devices and we fixed them. Thus, I will close this issue, but feel free to comment and in case of any further issue I will re-open this one. Thanks.

[2016-03-05 21:33] #21 closed

[2016-03-05 21:35] PaoloPia commented on #18
Hi,
Thanks for your feedback. We have just updated the JS file to include the viewport meta tag. Please download the updated files. I will close this issue. Thanks.

[2016-03-05 21:35] #18 closed

[2016-03-06 06:30] chipchai opened #24 "Exception occurred when running the powershell script"
Exception occurred!
Exception Type: System.Management.Automation.CommandNotFoundException
Exception Message: The term 'Connect-SPOnline' is not recognized as the name of a cmdlet, function, script file, or oper
able program. Check the spelling of the name, or if a path was included, verify that the path is correct and try again.

Kindly advise.

[2016-03-06 06:42] chipchai commented on #24
Solved by installing the module from
https://github.com/OfficeDev/PnP-PowerShell

[2016-03-06 06:42] #24 closed

[2016-03-07 16:03] rishiuiit commented on #21
Thanks for the quick response. I downloaded the latest package and its working fine now.

[2016-03-08 16:54] pschaeflein opened #26 "Extend Tenant Information Portal to include scheduled inspection and email notification"
Most administrators are quite busy, and would prefer a push notification that secrets/certs are expiring. I will extend the sample to include an Azure WebJob to email expiration notices using the Graph.

[2016-03-08 17:04] pschaeflein opened #27 "Create dev branch"

[2016-03-08 21:25] rdrisgill commented on #17
Yep I had this problem. Updating to May 2015 CU fixed it

[2016-03-08 21:31] rdrisgill opened #28 "Succeeded is misspelled :)"
On line 54 of Enable-SPResponsiveUI.ps1 - "succeded"

[2016-03-08 21:43] frankmarasco commented on #26
Love the idea Paul and will be a great add.

[2016-03-09 08:14] chappy1972 commented on #17
Thanks folks, I have not had chance to update yet, but just to confirm we are currently on version 15.0.4571.1502.

[2016-03-09 18:42] andrewgaskins commented on #19
This seems like it might be working for adapting the newsfeed. I still see an issue with the suite bar extending the right gutter however.

http://toastertech.com/2013/06/changing-the-width-of-the-site-feed-or-my-site-newsfeed-web-part/

[2016-03-09 18:42] andrewgaskins opened #31 "Unable to upload image to newsfeed."
I am noticing on OSX devices after implementing this that the upload button is non-responsive.

[2016-03-09 22:42] #28 closed

[2016-03-14 23:55] tseward opened #32 "Update ADMA to Include Export Run Profile"
In order to have the equivilience of the UPSS in MIM, we need to have an ADMA Export Run Profile. I've updated the [SharePointSync.psm1](https://gist.github.com/tseward/87286432d0da3dd343cf) and the [MA-ADMA.xml](https://gist.github.com/tseward/af455fb68595da9180ef) to include the run profile. If we could get this into the original package, that would be great.

@VesaJuvonen

[2016-03-15 02:59] pkothare opened #33 "Authentication for SharePoint.UI.Responsive"
I have an on premise SharePoint 2013 web application that leverages a trusted identity provider (in this case ADFS). I have also deployed a custom claims provider in line with MSDN documentation to resolve users. I was trying to deploy the responsive UI pack to the root site collection of this web application. I don't have an in-depth understanding of how the PnP Powershell Cmdlets work for authen

[2016-03-15 08:21] Fugaz1 commented on #33
Inside Enable-SPResponsiveUI.ps1 try to add -UseAdfs to both Connect-SPOnline commands.

[2016-03-15 13:12] ElieElHajj opened #34 "Responsive works on shriked window but not on cellphones"
I applied the responsive files with the script and everything is working just fine but when I access my sharepoint site from a iPhone or a Samsung device I don't get the responsive theme. Any ideas?

[2016-03-15 13:19] PaoloPia commented on #34
Hi,
Are you using the latest version of the package? When did you downloaded the package?

Thanks,
Paolo

[2016-03-15 13:21] PaoloPia commented on #31
Hi,
Are you referring to the Responsive package?

[2016-03-15 13:36] ElieElHajj commented on #34
The march package I think, could you supply me with the last package?

Bästa hälsningar
Elie El-Hajj

Ps. Meddelandet kan uppfattas som kortfattat då det är sänt från min mobiltelefon. Ds.

15 mars 2016 kl. 14:19 skrev Paolo Pialorsi <notifications@github.com<mailto:notifications@github.com>>:

Hi,
Are you using the latest version of the package? When did you downloaded the package?

Thanks,
Paolo

[2016-03-15 16:42] andrewgaskins commented on #31
Hi Paolo,

Yes, sorry I should have specified that. Has anyone else noticed that.

Thanks
Andrew

[2016-03-16 03:44] pkothare commented on #33
Thanks for the information. That was it! I feel like the Enable/Disable-SPResponsiveUI cmdlets should somehow push those parameters (UseAdfs, UseWebLogin) down to Connect-SPOnline by accepting them as primary parameters. I have already accommodated this in my solution. Let me know if  I can/should contribute that.

[2016-03-16 03:46] #33 closed

[2016-03-16 12:09] ElieElHajj commented on #34
Any update here? :)

I've downloaded the master.zip file that you provided from the readme file. I enabled the resposive without any error. Working fine in Chrome, IE, Edge but not on my iPhone 6 Safari and Nexus 5 Chrome.

Does it have to do something with java?

[2016-03-16 15:42] PaoloPia commented on #34
Hi,
here is the URL of the solution: https://github.com/OfficeDev/PnP-Tools/tree/master/Solutions/SharePoint.UI.Responsive
Please double-check that you are using the latest PnP-Responsive-UI.js file.

Thanks.

[2016-03-16 15:58] ElieElHajj commented on #34
With the add viewport JavaScript? That's the one I got!

I checked the recent issues and saw that other guy with a similar problem

Best regards
Elie El-Hajj

16 mars 2016 kl. 16:42 skrev Paolo Pialorsi <notifications@github.com<mailto:notifications@github.com>>:

Hi,
here is the URL of the solution: https://github.com/OfficeDev/PnP-Tools/tree/master/Solutions/SharePoint.UI.Responsive
Please doubl

[2016-03-17 09:52] PaoloPia commented on #34
Can you share what you see? I mean: you see the out of the box touch UI or do you see the classic UI just zoomed out? Thanks.

[2016-03-17 09:53] ElieElHajj commented on #34
Hey,

I see the UI just zoomed out.

The UI on the desktop is normal, and when I shrink I can see the responsive. I made a new webapplication to test it with

……………………………………………

Bästa hälsningar / Best regards
Elie El-Hajj

Från: Paolo Pialorsi [mailto:notifications@github.com]
Skickat: den 17 mars 2016 10:52
Till: OfficeDev/PnP-Tools <PnP-Tools@noreply.github.com>
Kopia: Elie El-Hajj <Elie.El-Haj

[2016-03-17 10:49] ElieElHajj commented on #34
The new webapplication got the same issue im afraid.

[2016-03-17 10:58] PaoloPia commented on #34
Me, too. Because I cannot reproduce the issue. Have you tried with the device emulator in Chrome via F12? Still same result? Just to check if something is missing, and using the console you can check. Thx.

[2016-03-17 11:02] ElieElHajj commented on #34
Hey man. I’ve tried the F12 in chrome and its working.

If you want, I could give you access to the site and you could try it?

……………………………………………

Bästa hälsningar / Best regards
Elie El-Hajj

Från: Paolo Pialorsi [mailto:notifications@github.com]
Skickat: den 17 mars 2016 11:58
Till: OfficeDev/PnP-Tools <PnP-Tools@noreply.github.com>
Kopia: Elie El-Hajj <Elie.El-Hajj@hannellsit.se>
Ämne: Re: [PnP

[2016-03-17 12:13] PaoloPia commented on #34
Send me a private email paolo at pialorsi dot com. Thx

[2016-03-17 13:56] PaoloPia commented on #34
Hi, I think that I found your issue. The page is trying to download the JS file from the following URL:

http://pellybutik/Style%20Library/SP.Responsive.UI/PnP-Responsive-UI.js?rev=bf19e4f64b204e1ebc2f762e33afcc97

which is clearly local, and not accessible from outside your network. Please fix the Alternate Access Mappping in your farm. I will close this issue.

[2016-03-17 13:56] #34 closed

[2016-03-18 04:18] NandaCodeBox opened #35 "SP Responsive UI Script Not Working on Sp 2013"
Could you please help me resolve the below issue. I am running the script in SharePoint 2013 On -premises.

Exception occurred!
Exception Type: System.Management.Automation.CommandNotFoundException
Exception Message: The term 'Connect-SPOnline' is not recognized as the name of
a cmdlet, function, script file, or operable program. Check the spelling of the
name, or if a path was included, verify th

[2016-03-18 06:24] PaoloPia commented on #35
Hi, you have to install the OfficeDevPnP PowerShell extensions for SP on-prem, which are available here: http://aka.ms/officedevpnpcmdlets15 . Please, follow the setup instructions (including the software requirements) that are available here: https://github.com/OfficeDev/PnP-Tools/tree/master/Solutions/SharePoint.UI.Responsive .

[2016-03-18 06:24] #35 closed

[2016-03-18 07:06] btutal opened #36 "Site Navigator pushes out page on a mobile phone"
Site navigator makes page wider in mobile like the newsfeed issue on SP 2013 on prem.

[2016-03-18 12:44] NandaCodeBox commented on #35
It is already installed in my machine. i was trying to install the "ubersrv2013-kb2965266-fullfile-x64-glb" but getting the below error.

Note: I  have installed the pre-requisites "officeserversp2013-kb2880552-fullfile-x64-en-us" successfully.

---------------------------
Update for Microsoft SharePoint Enterprise Server 2013 (KB2956166) 64-Bit Edition
---------------------------
The installation

[2016-03-21 15:51] jquintozamora commented on #17
Thanks. I had the same issue and it was solved installing latest SharePoint Server 2013 Client Components SDK.

[2016-03-21 20:21] phungui commented on #17
Confirmed, installing the April CU resolved.

Thanks!

Sent from my iPhone, please excuse brevity and typos.

[2016-03-22 10:59] jquintozamora commented on #36
Hi, this is because SharePoint by default assumes min-width: 450px.

You can add some CSS classes to solve this issue.

Go to pnp_responsive_ui.css and find smartphone media tag (@media screen and (max-width: 480px)). Under this media tag, paste these CSS classes:

	/* Newsfeed fixes for mobile less than 450px */
    .ms-microfeed-fullMicrofeedDiv, .ms-microfeed-microblogpart, .ms-microfeed-attach

[2016-03-23 07:19] btutal commented on #36
I solved Newsfeed issue with that css but I am talking about the site navigator. It has the same problem on my ststem

[2016-03-23 12:07] VesaJuvonen commented on #17
thx for reporting the status. Will close this issue, since resolution is clear. We also have updated the documentation with minimal version requirements and also released a new PnP web cast on explaining the pre-requisites for making this work at http://dev.office.com/blogs/web-cast-responsive-ui-package-for-sharepoint.

[2016-03-23 12:07] #17 closed

[2016-03-28 19:08] KSWALP opened #39 "PS is not digitally signed; the URI scheme is not valid."
Running into a couple of issues while attempting to install this solution.

First when trying to run the PS1 file from the downloaded zip it gave me an error message stating ".ps1 is not digitally signed. The script will not execute on the system."

To get around this, I simply copied the content of the ps1 file into a text file and saved that as that as a ps1 file.

This allowed me to enter in th

[2016-03-30 06:42] VesaJuvonen commented on #32
We can absolutely get changes in for this. Will loop in the feature crew who actually owns this. Any change getting the changes submitted as pull request, so that we could process that using standard GitHub processes?

[2016-04-07 03:29] naijacoder opened #42 "Issues installing SharePoint.UI.Responsive for SharePoint On Premise"
This must be fantastic but I tried downloading it from [here  ](https://github.com/OfficeDev/PnP-Tools/tree/master/Solutions/SharePoint.UI.Responsive) and then installing it
But I get errors :

**Microsoft.SharePoint.Client.IdcrlException
and
The user ID is not formatted correctly to correspond to a Microsoft account.**

Its seems its trying to login to a SharePoint Online?
Is there a different do

[2016-04-07 04:59] PaoloPia commented on #42
What version of the OfficeDevPnP  PowerShell commands  do you have?

[2016-04-07 05:04] naijacoder commented on #42
Thanks Paolo for the quick response.
I can see OfficeDevPnP.PowerShell.V15
Is this the right one?

[2016-04-08 06:37] naijacoder commented on #42
Hi Paolo can you help me with this and did that answer your question?

[2016-04-11 07:59] naijacoder commented on #42
Any ideas?

[2016-04-11 08:17] PaoloPia commented on #42
Sorry for my delayed answer. It's a very busy timeframe. Assuming that you have the right version (v15) of the PnP PowerShell extensions, I have no further idea ... maybe you can try to connect using Connect-SPOnline providing the -verbose option, just to see the version of the PnP Core library and any further information.

[2016-04-11 08:27] naijacoder commented on #42
Ok will try that.
But should the command in the powershell be connect-sponline

On Monday, April 11, 2016, Paolo Pialorsi <notifications@github.com> wrote:

[2016-04-12 14:57] jkunle opened #43 "Sharepoint response ui does it work with foundation"
Hi please can anyone let me know if this functionality can work with sharepoint foundation? Thanks

[2016-04-19 15:02] CSART opened #44 "Enable-SPResponsiveUI.ps1"
Hi
I try to run Enable-SPResponsiveUI.ps1 on my Sharepoint 2013 SP1 environment (with an admin account) and I always receive :
Exception occurred!
Exception Type: System Exception!
Exception Message : Error Establishing a connection
Howver my site is up and running.
What can be the cause ?
Thanks for your help.
Cheers
Christophe

[2016-04-24 11:43] manasvin opened #45 "SharePoint.UI.Responsive without JQuery"
How feasible/practical would it be to consider adapting JavaScript for this solution to avoid the dependency on JQuery ?

There is certainly a case for this solution to be more atomic against dependant frameworks and avoid conflicts with JQuery versions used by apps/webparts/pages in an implemented (or current) Portal

[2016-04-25 00:46] eaitbrahim commented on #42
I got the following error: "Infrastructure Site URL: http://cogasp2013.eastus.cloudapp.azure.com
Exception occurred!
Exception Type: System.Management.Automation.CommandNotFoundException
Exception Message: The term 'Connect-SPOnline' is not recognized as the name of a cmdlet, function, script file, or oper
able program. Check the spelling of the name, or if a path was included, verify that the pat

[2016-04-27 11:52] ReneHezser commented on #42
@eaitbrahim
Take a close look at https://github.com/OfficeDev/PnP-PowerShell#installation for the installation OnPrem.

[2016-04-28 20:39] AdwoodMicrosoft opened #46 "Update the MIM Synch Service Build 4.3.2195.0"
o   This fixes several build and file signing issues that were discovered recently
o   Enables multiple partitions to be specified in the Set-MIISADMAConfiguration, allowing us to greatly simplify the Install-SharePointSyncConfiguration script from the SharePointSync.psm1 module
o   Enables better functionality with the Add-MIISADMARunProfileStep PowerShell cmdlet to better create and update run p

[2016-04-28 20:42] AdwoodMicrosoft opened #47 "Update to the SharePoint Connector build 4.3.2201.0"
Update to the SharePoint Connector build 4.3.2201.0 - A new connector build will be released on the download center - adjust documentation to reflect this build. Add check to SPMA connector assembly to ensure minimum version in place.

[2016-04-28 20:42] AdwoodMicrosoft opened #48 "Updated Server Configuration Export"
Adding the ADMA import attribute flow rule that flows sAMAccountName into AccountName

[2016-04-28 20:46] AdwoodMicrosoft opened #49 "SharePointSync.psm1 to remove the code that manually updates the ADMA’s definition in the XML file prior to server configuration export"
This functionality is present in Hotfix http://support.microsoft.com/KB/3134725  thus the script no longer needs it.

[2016-04-29 04:08] naijacoder commented on #42
Thanks Rene.
But can't see any specific different when using this again on premise
can you advice ?

On Wednesday, April 27, 2016, René Hézser <notifications@github.com> wrote:

[2016-04-29 05:39] ReneHezser commented on #42
I had to run Invoke-Expression (New-Object Net.WebClient).DownloadString('https://raw.githubusercontent.com/OfficeDev/PnP-PowerShell/master/Samples/Modules.Install/Install-OfficeDevPnPPowerShell.ps1').

[2016-04-29 09:46] PaoloPia commented on #42
Hi,
And now have you fixed your issue? Thanks.

[2016-04-29 10:09] ReneHezser commented on #42
Sure. With the steps from that page.

[2016-04-29 16:07] PaoloPia commented on #42
Great. Thus, I will close this issue. Thanks for the update.

[2016-04-29 16:07] #42 closed

[2016-04-29 16:09] PaoloPia commented on #45
Hi, Thanks for your feedback.
We will think about that, but it is a matter of time and resources, and so far we cannot make any plan or promise. Thanks.

[2016-04-29 16:10] PaoloPia commented on #44
Hi,
Thanks for using the PnP Tools. What version of the PnP PowerShell extensions do you have?

[2016-04-29 16:11] PaoloPia commented on #43
Hi,
Thanks for using the PnP Tools. We did not tested this functionality with SharePoint Foundation. The best thing to do is to try and see what happens.

[2016-04-29 16:12] PaoloPia commented on #36
Hi,
Thanks for using the PnP Tools and for sharing your experience. Could you please submit a Pull Request with your changes? Thanks.

[2016-04-29 16:13] PaoloPia commented on #31
Hi,
Thanks for using the PnP Tools. We did not noticed this issue. You mean the upload button in the document libraries, right? Are you still experiencing the issue? If yes, can you provide us much more details about the browser, the screen size, etc.? Thanks.

[2016-04-29 16:14] PaoloPia commented on #20
Hi,
Do you have any news? Otherwise I will close this issue, considering that now SP2016 is RTM and we should target that build. Thanks.

[2016-04-29 16:17] PaoloPia commented on #19
Hi,
Thanks for using the PnP Tools. Unfortunately we cannot guarantee compatibility with 100% controls and UI elements. We will keep an eye on this issue and try to fix it sooner. About the Suite Bar, unfortunately we are aware of the issue, but we cannot (shouldn't) change the Suite Bar.
Thanks.

[2016-04-29 18:43] nramar commented on #20
Yes it is fixed. you can close.

On Fri, Apr 29, 2016 at 11:14 AM, Paolo Pialorsi <notifications@github.com>
wrote:

--
Regards,
Amar

[2016-04-29 22:00] PaoloPia commented on #20
Thanks for the feedback. I will close this one.

[2016-04-29 22:00] #20 closed

[2016-05-02 15:04] tseward commented on #48
Is this for the group object type? This is needed to resolve group names with Audiences when using a rule of Member Of.

[2016-05-02 18:23] AdwoodMicrosoft commented on #48
I have filed the bug after chatting with Vikram. I believe this relates to the bug that you reported. We are looking into it.

[2016-05-03 13:23] tchagan opened #50 "Missing JavaScript file"
The file

Scripts\plugins\angular\angular-message-format-min.js

is missing from the project and is not in github though it is referenced in the project.

![image](https://cloud.githubusercontent.com/assets/8684518/14984433/8d9350b0-113a-11e6-97c7-3549f54f7afb.png)

[2016-05-03 18:43] robertschley commented on #43
I have been trying this on SharePoint Foundation and every time I get to the line in the enable script
  **Apply-SPOProvisioningTemplate -Path .\01-Responsive.UI.Infrastructure.xml -Handlers Files**
then I get an error message of
  **Apply-SPOProvisioningTemplate : Cannot find stub for type with id "{981cbc68-9edc-4f8d-872f-71146fcbb84f}". The specified server may not support APIs used in this ope

[2016-05-04 13:49] robertschley commented on #43
Unless someone has a way around my previous posted error, I don't think this does work with Foundation. It worked just fine as advertised with the instructions on a SharePoint Enterprise implementation. I think the problem is related to Foundation not using Master Pages like how Server/Enterprise do. Just a guess though.

[2016-05-04 15:37] jkunle commented on #43
I can confirm that I also get exactly the same error.

[2016-05-09 10:36] PaoloPia commented on #43
Ok, Thanks for the feedback. However, I will close this issue, because supporting SharePoint Foundation is out of scope for the project.

[2016-05-09 10:36] #43 closed

[2016-05-09 10:38] PaoloPia commented on #44
Hi, can you give us a feedback? Just to figure out if it was a real issue or if we can now close this one. Thanks.

[2016-05-12 10:10] PandaHaz commented on #42
I still have the issue:
 Microsoft.SharePoint.Client.IdcrlException
and
The user ID is not formatted correctly to correspond to a Microsoft account.

Someone has a solution?

Thanks in advance

[2016-05-17 12:57] forrahul123 opened #53 "XML Issues while running the power shell command to install the responsive javascript or css for Sharepoint2013 OnPremises"
Apply-SPOProvisioningTemplate : The Provisioning Template URI 01-Responsive.UI.Infrastructure.xml is not valid.
At line:49 char:5
+     Apply-SPOProvisioningTemplate -Path .\01-Responsive.UI.Infrastructure.xml -H ...
+ ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    + CategoryInfo          : WriteError: (:) [Apply-SPOProvisioningTemplate], ApplicationException

[2016-05-19 05:50] obulreddymamidi commented on #53
I am also facing same issues, could you pls help on this.. Advance thank you

[2016-05-19 13:47] PaoloPia commented on #44
I will close this issue, becase there was no answer in the last 20 days.

[2016-05-19 13:47] #44 closed

[2016-05-19 14:57] PaoloPia commented on #53
Hi,
Thanks for using the Responsive.UI sample. Unfortunately I cannot reproduce the issue. I've just tested it against an on-premises SP2013. Just to double-check, do you have the latest version of the PowerShell cmdlets? Thanks.

[2016-05-19 17:48] CSART commented on #44
Yes
I had an accident and won’t work at short term on this.
No problem, I’ll reopen it later.
Cheers
Christophe

From: Paolo Pialorsi [mailto:notifications@github.com]
Sent: Thursday, May 19, 2016 3:48 PM
To: OfficeDev/PnP-Tools <PnP-Tools@noreply.github.com>
Cc: SARTEEL Christophe <C.SARTEEL@visionconsulting.be>; Author <author@noreply.github.com>
Subject: Re: [OfficeDev/PnP-Tools] Enable-SPRespo

[2016-05-20 05:50] PaoloPia commented on #44
I'm sorry. I hope now you are better. We will re-open it later, if needed. Good luck.

[2016-05-20 09:06] forrahul123 commented on #53
HI,
I think i have the lastes verison of the powerSheel cmdlets.

Name             : Windows PowerShell ISE Host
Version          : 4.0
InstanceId       : e44de9ba-6d8a-4a09-81b2-985b2b1e4252
UI               : System.Management.Automation.Internal.Host.InternalHostUserInterface
CurrentCulture   : en-US
CurrentUICulture : en-US
PrivateData      : Microsoft.PowerShell.Host.ISE.ISEOptions
IsRunspace

[2016-05-25 11:46] naijacoder commented on #42
Hi Guys i have ran the command and it was successful but when i load the page . Its no responsive.
I can see the files in the style library in the root site.
I applied the responsive to a subsite.
Any ideas

[2016-05-25 11:48] naijacoder opened #54 "Issues installing SharePoint.UI.Responsive for SharePoint OnLine"
Hi Guys i have ran the command and it was successful but when i load the page . Its not responsive.
I can see the files in the style library in the root site.
I applied the responsive to a sub-site.
Any ideas and thanks in advance

[2016-05-25 12:44] PandaHaz opened #55 "Responsive UI on Publishing site"
Hello,

it is possible to use the Responsive UI for a publishing site?

Thanks in advance

[2016-05-25 12:48] PandaHaz commented on #53
are the specific XML files in the same directory as the powershell scripts? Go to that directory via command line and execute the ps1 script.

[2016-05-26 05:10] naijacoder commented on #54
Can anyone help?
What I could be missing etc..

[2016-05-26 15:20] PaoloPia commented on #54
Hi,
Thanks for using PnP. Please double check the URL you provided for the infrastructural site. It could be  that it is not properly served to the client. It is just a guess, of course. If this is not the case, let me know.

[2016-05-26 15:32] PaoloPia commented on #53
To see the version of the PnP PowerShell extensions please do that:

Connect-SPOnline "targetURL" -Verbose

[2016-05-26 15:34] PaoloPia commented on #55
Hi,
Thanks for using PnP. The responsive package has been designed for the Team Site template. I think you will need to update it in order to apply it to a publishing site.

[2016-05-26 15:34] #55 closed

[2016-05-27 07:07] naijacoder commented on #54
Thanks Paolo for the response.
As i said i can see the files in the style library in the root site.
But also when i look at the masterpages i can't see any files being reference to do the responsive site.
What other things can i check?

[2016-05-27 19:16] frankmarasco opened #57 "Tenant Information Portal Error Page Not Found"
Fix is in progress

[2016-05-28 22:21] PaoloPia commented on #54
Have you tried using F12 and network inspector to see if the files are downloaded or not into your client browser? Please let me know ... thanks.

[2016-05-30 04:58] naijacoder commented on #54
Thanks Paolo i just check using chrome ans it seems i can t see the pnp_responsive_ui.js or
PnP-Responsive-UI.css loaded.
This is strange. How should these be referencing so it loads on the page?
Need more info if you can help

[2016-05-30 07:10] naijacoder commented on #54
No Paolo cant get it to work. Can it be deployed manually using the css and JS?
I'm getting error

[](http://postimg.org/image/x7phy21ij/)

Almost giving up....

[2016-05-31 08:58] PaoloPia commented on #54
But what do you see in the Network monitor of F12? Are they in the HTML and it fails to download them, or are they completely missing from the HTML?

[2016-06-02 02:09] naijacoder commented on #54
When i use F12 i can  see them. But the question is does it reference them in the masterpages.
As i can't see anything in the masterpage.
How does it work?

[2016-06-03 07:38] PaoloPia commented on #54
About how it works, I invite you to have a look at the following webcast:

https://channel9.msdn.com/blogs/OfficeDevPnP/SharePoint-Responsive-UI-Package-for-on-premises-SP-2013-and-SP-2016

About the issue, if the CSS and JS are in the F12 DOM, I would suggest in the network tab if they get downloaded or not, and fix any related issue.

[2016-06-29 13:45] frankmarasco commented on #57
Fix it latest build

[2016-06-29 13:45] #57 closed

[2016-07-13 07:32] SPDoctor commented on #45
Agree that it would be better not to take a dependency on jQuery if possible, which would make the code cleaner and possibly improve performance, but would mean having to test on lots of browsers. I'm willing to have a look at it :-)

[2016-07-13 07:37] SPDoctor commented on #54
When I tested I saw the same problem. Erwin has added a PowerShell commandlet Enable-SPOResponsive to the PnP-PowerShell sub-repo. If you run this command it should apply the branding to the site. Note that the arguments are slightly different to the Enable-SPResponsive.ps1 script.

[2016-07-13 17:41] craig-martin commented on #49
Unfortunately the fix in MIM does not work as expected so this will have to wait.  When calling `Set-MIISADMAConfiguration` the ADMA configuration is not updated as expected.  Until these problems are fixed in MIM we still need our code to modify the ADMA XML file before importing it, and the user still needs to set the ADMA password manually.

# Phantom Partition
The `Set-MIISADMAConfiguration` h

[2016-07-13 17:52] craig-martin commented on #11
Tried to repro by not specifying the OrganizationalUnit but the parameter is required.

Can you please provide a sample script showing how you called Install-SharePointSyncConfiguration?

[2016-07-14 06:29] PaoloPia commented on #54
Hi Naijacoder, is this issue still open? Or can we close it? Thanks.

[2016-07-14 08:10] SPDoctor commented on #54
Paolo, is there any particular reason that Enable-SPOResponsive is a cmdlet but Enaple-SPResponsive is a script (or did I miss something)? Maybe we could add this to the documentation.

[2016-07-14 09:26] PaoloPia commented on #54
Hi Bill,
The cmdlet requires to install an extensibility library, which is already defined for SharePointPnP but not for the sample provided in the PnP-Tools. That's why here (PnP-Tools) we simply provide the script. Moreover, if you play at the script level you can customize almost everything. While if you play with the cmdlet, you have to follow the rules that we defined in the extensibility lib

[2016-07-14 09:40] SPDoctor commented on #54
Okay, that's great to have a choice, but in that case we should implement an Enable-SPResponsive cmdlet as well, or perhaps an Enable-SPOResponsive script. When I tested in O365 the Enable-SPResponsive.ps1 script installed the assets but didn't change the site to responsive (fair enough as it is intended for on prem). The Enable-SPOResponsive cmdlet did activate the responsive CSS in the site.

Sh

[2016-07-14 10:43] PaoloPia commented on #54
Oh, I'm sorry Bill. Just now I got your point ... which was about the name Eanble-**SP**Responsive vs Enable-**SPO**Responsive ... well we used the SPO in the cmdlet just to be alligned with all the other cmdlets. And, yes it should work both on-premises and on the cloud. Thus, if you are experiencing any issue, please open an issue. Thanks.

[2016-07-25 13:18] prvanbeek commented on #54
I get the following errors when I try to run the Enable script:

Exception occurred!
Exception Type: System.Net.WebException
Exception Message: The remote server returned an error: (403) Forbidden.

Trying to run this for SP2013 On-Prem

[2016-07-26 07:57] PaoloPia commented on #54
Hi,
Are you providing the right user credentials? Thanks.

[2016-07-26 13:46] prvanbeek commented on #54
Yes.

From: Paolo Pialorsi [mailto:notifications@github.com]
Sent: Tuesday, July 26, 2016 2:57 AM
To: OfficeDev/PnP-Tools <PnP-Tools@noreply.github.com>
Cc: Van Beek, Paul <vanbeekpr@Pella.com>; Comment <comment@noreply.github.com>
Subject: Re: [OfficeDev/PnP-Tools] Issues installing SharePoint.UI.Responsive for SharePoint OnLine (#54)

Hi,
Are you providing the right user credentials? Thanks.

—

[2016-07-26 16:45] PaoloPia commented on #54
Can you put an HTTP tracer like Fiddler in between, just to see what happens? Thanks.

[2016-08-02 13:05] naijacoder commented on #54
Hi All,
     After multiple tries...
Is this url
https://github.com/OfficeDev/PnP-Tools/tree/master/Solutions/SharePoint.UI.Responsive
The instruction and guide to follow to have a responsive SharePoint online
site?

Too many confused information on the PNP site.

Thanks in Advance

On Wed, Jul 27, 2016 at 2:45 AM, Paolo Pialorsi <notifications@github.com>
wrote:

[2016-08-02 13:11] naijacoder commented on #54
Also SPDoctor can you elaborate more about the Enable-SPOResponsive you
mentioned in your post?
I will appreciate it or if anyone know

On Tue, Aug 2, 2016 at 11:05 PM, naijacoder <lurowam@gmail.com> wrote:

[2016-08-02 13:39] VesaJuvonen commented on #54
Hi,
GitHub URL which you provided is the documentation indeed. Also video which Paolo shared above, is a great resource to see in practice the steps to make this work - https://channel9.msdn.com/blogs/OfficeDevPnP/SharePoint-Responsive-UI-Package-for-on-premises-SP-2013-and-SP-2016.

There's really not that much into it.
- You will need to have April 2015 CU for SP2013, if using in on-premises
- Y

[2016-08-02 15:02] prvanbeek commented on #54
The problem appears to be that the script it wired to connect to SPOnline even though I'm running it in SP2013 on-prem. Am I missing the script to run for an on-prem deployment?

[2016-08-03 12:27] VesaJuvonen commented on #54
Hi prvanbeek,
Even though command is Connect-SPOnline, script will connect also to on-premises. Detailed setup though depends on your authentication providers, like if you are using ADFS to secure your on-premises farm, script would need to be slightly modified. You can see different options for the Connect-SPOOnline from following documentation - https://github.com/OfficeDev/PnP-PowerShell/blob/m

[2016-08-04 15:48] SPDoctor commented on #54
@naijacoder - there is a PowerShell cmdlet in the repo PnP-PowerShell called Enable-SPOResponsive. When I tested against my Office 365 tenant I couldn't get the script Enable-SPOResponsive (from this repo) to work - it added some assets but didn't enable the responsive site. When I did the same test using the Enable-SPOResponsive cmdlet from the PnP-PowerShell repo, it worked.

[2016-08-04 15:52] SPDoctor commented on #54
@PaoloPia, thanks - only just got back to this. My issues are 1) that Enable-SPResponsive script didn't work against Office 365 when I tested it and 2) that there is an Enable-SPResponsive script and also an Enable-SPOResponsive cmdlet, both of which *should* work against both on prem and online, which is very confusing to users. I'll raise an issue to fix 1) and also a suggested update of documen

[2016-08-04 16:49] SPDoctor commented on #54
@PaoloPia I'm a bit puzzled by the documentation which says that the Enable-SPResponsiveUI.ps1 calls the Enable-SPResponsiveUI **cmdlet**. I wonder if this means the Enable-SPOResponsiveUI cmdlet? This doesn't seem to be called in the script. I don't see how this could work otherwise, because at some point we need to call the PnP-Sites-Core method EnableResponsiveUI on the SPWeb (which is what the

[2016-08-05 14:33] PaoloPia commented on #54
Thanks Bill, we will think about all of your suggestions. Right now we have two approaches:
1) use the tools provided here, which are independent from the Enable-SPOResponsiveUI cmdlet. Here you have full control on source code and you can customize it freely.
2) use the Enable-SPOResponsiveUI cmdlet and get the ready to go solution, without any capability to customize things.

Even if the origina

[2016-08-05 15:05] SPDoctor commented on #54
@PaoloPia, thanks for the explanation - makes sense considering the cmdlet was not originally available. Currently I think the infrastructure provisioning script is working but on Office 365 the script that injects the custom action isn't, for some reason. Now that the cmdlet is available, I suggest we use the cmdlet and retain the infrastructure script only as a way of showing how to provision yo

[2016-08-05 15:12] PaoloPia commented on #54
Why not? :) ... About the responsive package solution posted here, consider that it targets SP2013/SP2016 on-premises, and not SPO even if it should work with SPO, too. In fact, SPO is already responsive OOB with the new modern UI and it looks like it will be more and more in the future ...

[2016-08-05 15:18] SPDoctor commented on #54
Hey, Paolo, it is a good point that SPO is getting more responsive but, ahem, "Here you have full control on source code and you can customize it freely." ;-)

[2016-08-16 13:55] DeanGross opened #80 "Does not work with MFA"
When using the Get-SPOnlineSandboxSolutionList, we are not able to use this script with an Admin account that requires multi-factor authentication. What can be done to enable this functionality?

[2016-08-22 07:46] jansenbe commented on #80
Hi Dean,

Please checkout https://github.com/OfficeDev/PnP-Tools/tree/master/Solutions/SharePoint.SandBoxTool. This new tool allows you to use app-only to perform a multi-threaded scan. It will also provide more information like listing 'empty' assemblies, detailed information about the analyzed solution,...

[2016-08-25 05:06] harbars commented on #49
This isn't entirely accurate....

Set-MIISADMAConfiguration *CAN* be used today on build 4.3.2195 to update the credentials, avoiding the administrator having to enter the password using MIISCLIENT.EXE. It can also be used to directly allow selection of multiple Sync containers.

The only downside to this is that all containers within the configuration partition are selected, rather than just CN=P

[2016-08-25 15:25] craig-martin commented on #49
Think this boils down to bloated/phantom config versus manual steps.  I'd thought bloated/phantom config wasn't acceptable but hear your feedback.  I'll try again, maybe this is acceptable until the MIM cmdlet is fixed.

Thanks for testing and providing feedback!

[2016-08-30 18:43] tgood12 opened #82 "DeltaTopNavigation clone is not editable on mobile in SP2013"
I noticed that in the javascript it has the following:

[code]

Which works, but only halfway.  The standard sidenav can be edited just fine on mobile, but when you try to edit the topnav links that are appended from the JS above, you click the "Edit Links" button, but nothing happens.  Click it twice, and it just disappears.

I tested this on a desktop as well by shrinking the window to mobile, a

[2016-09-02 13:07] nosferkg commented on #26
Hi @pschaeflein, so I was wondering how is that improvement going? Any luck?

[2016-09-02 13:09] frankmarasco commented on #26
Hi @nosferkg i'm working on adding this functionality and some additional changes.

[2016-09-07 01:39] naijacoder commented on #54
Thanks guys and a special thanks to SP Doctor
But i'm still confused where to get the  Enable-SPOResponsive cmdlet from??
All i can see is the Enable-SPResponsive which i believe its for SP onpremise.

It seems the documentation is not straightforward. Can someone please verify this as i'm only interested in using it again my SPOnline tenant

Where is the docos for SharePoint Online Responsive UI

[2016-09-07 07:38] SPDoctor commented on #54
@naijacoder, the PowerShell cmdlet is part of [PnP-PowerShell](https://github.com/officedev/pnp-powershell). The cmdlet documentation is there also: https://github.com/OfficeDev/PnP-PowerShell/blob/master/Documentation/EnableSPOResponsiveUI.md

The URL you gave is @PaoloPia 's video for the Enable-SPResponsive script in this repo, All this was created before the cmdlet existed, so it uses a differ

[2016-09-09 17:51] tgood12 commented on #82
In addition to this, any navigation you have setup on the topnav that has child dropdowns, those dropdowns do not work when cloned to the side nav, making the entire thing pointless.

[2016-09-21 06:53] infradsm opened #87 "Table is not "responsive""
If there is a table in the content, this will prevent the responsive UI from auto-adjusting.  Is it possible to include class for making a table "responsive" as well?

[2016-09-21 08:24] infradsm opened #88 ""Focus on Content""
If we view the site with "Focus on Content" button clicked, there will be issue when viewing the site with tablet.  Some content on the left hand side is not viewable.

[2016-09-28 03:17] JessKCan opened #89 "Enabling at the site collection doesn't apply for sub-sites"
Hi,

I enabled the package at the site collection level but it appears to only apply to the root site and not the sub-sites by default. Is it supposed to do so?

It used to apply for all sub-sites with previous versions I think. Is it changed now?

Thanks for your help.

[2016-09-28 10:27] marilka opened #90 "Calendar picker does not function"
I noticed that when the PnP responsive js is loaded to the page, the calendar picker (e.g. in adding a new item with date field) does not function properly. In Firefox and Chrome it seems to open the calendar div, but only as a white box, in IE and Edge, not even this. The subdivs remain display:none.

[2016-10-06 09:07] VesaJuvonen commented on #80
Closing this one due the workaround with the managed code based tooling. If that does not work for you @DeanGross, please let us know.

[2016-10-06 09:07] #80 closed

[2016-10-06 09:08] VesaJuvonen commented on #50
Hi Terry,
sorry for the delay around this. Could you also share which solution this is referring into, since there's multiple samples/solutions in this repository. Thx.

[2016-10-06 09:11] VesaJuvonen commented on #31
Hi andrewgaskins,
ping on the requested details, so that we could get this fixed. If issue has been already resolved, that's great as well, but please do let us know, so that we can either close this issue or have more details on environment. thx.

[2016-10-06 09:12] VesaJuvonen commented on #36
Hi @btutal,
any change coming back on this issue and share your fixes with others? - PnP is community driven initiative, so we would absolutely appreciate to get updates, if fixes are applied - in similar ways as others in the community are sharing their work. If that's not possible, would like to close the issue. thx.

[2016-10-06 09:53] VesaJuvonen commented on #39
Hi KSWALP,
this most likely is referring to the Responsive UI package which is one of things available from this repository. We have done some modifications for it, so it should be all good at this point, so will close up this issue. If this is still an issue for you, please reopen or submit a new issue with details. thx.

[2016-10-06 09:53] #39 closed

[2016-10-06 09:57] VesaJuvonen commented on #53
HI @forrahul123 and @PandaHaz,
is this issue already resolved for you and all good - or still experiencing challenges? We did do recently updates on the process around this and it should be all good. Will close up the issue for now, but you can reopen it, if there's still some things causing exceptions. thx for reporting these.

[2016-10-06 09:57] #53 closed

[2016-10-06 09:58] VesaJuvonen commented on #54
Now that the #81 has been merged, will close up this issue by assuming that things are fine. If there's any issues which some of you are experiencing, please let us know. thx for reporting these.

[2016-10-06 09:58] #54 closed

[2016-10-06 10:02] VesaJuvonen commented on #82
thx @tgood12 for submitting this. PnP initiative is community driven open source initiaitive, so we are unfortunately heavily restricted with the resources, since we rely on the work done together with the community volunteers. UI Responsive Package is not certainly a 100% solution for all of the different scenarios what we can have in SharePoint, but it takes things at least to some point.

We'll

[2016-10-06 10:03] VesaJuvonen commented on #87
Unfortunately table tag usage in teh html cannot be transformed to be responsive, since that could format the content inside of the table. This is basically a limitation in the html rendering. Theoretically you could convert table on fly to divs, but that can cause issues with the content in the table, so we can't perform that automatically as part of this generic solution.

[2016-10-06 10:03] #87 closed

[2016-10-06 10:05] VesaJuvonen commented on #88
Hi @infradsm,
I'm not quite sure what this means. Is this referring to generic SharePoint behavior or how the sites behave for example when UI Responsive Package has been installed. Can you provide more context on the issue. thx.

[2016-10-06 10:12] VesaJuvonen commented on #89
Thx for reporting this issue. We did do some modifications on the model recently, but the intention was not to change this to require one-by-one apply on site level. We'll have a look on the changes and will perform needed updates.

[2016-10-06 10:14] VesaJuvonen commented on #90
thx Sanna for reporting. We'll have a look on the current implementation to adjust this accordingly. If you have good ideas on needed fix - those are also more than welcome :-)

[2016-10-06 10:15] VesaJuvonen commented on #27
Fair ask... but since this repo contains scripts and other elements, which require them to get pushed out immediately (like sandbox story), we have still decided to use just master in here.

[2016-10-06 10:15] #27 closed

[2016-10-06 10:19] SPDoctor commented on #89
It would make sense to have an option to make it recursive. I don't think it should apply recursively by default - in general you expect commands to not apply recursively by default.

[2016-10-06 10:57] VesaJuvonen commented on #89
This solution relies on the UserCustomAction collection entry for the JS file. This was originally set at the site collection level in the original scripts, which meant that all sites in site collection had it. With the latest updates on the process, responsiveness is only applied in site level (Web.UserCustomAction), which is why @JessKCan is seeing a difference compared to older version.

This m

[2016-10-06 11:16] SPDoctor commented on #89
The current solution is just to enable you  to use custom assets, so it is the underlying PowerShell cmdlet in SharePointPnP.PowerShell commands (Enable-SPOResponsiveUI) that needs to be re-visisted to include that behaviour.  I suggest raising an issue against SharePointPnP.PowerShell for adding an optional -Recursive parameter to both Enable-SPOResponsiveUI and Disable-SPOResponsiveUI.

[2016-10-06 11:37] VesaJuvonen commented on #89
I would not do this as recursive - rather as option to set it in site collection or in site level. Since if it's done recursively on site level, it's much more difficult to maintain and control than as one site collection setting.

[2016-10-06 11:57] SPDoctor commented on #89
Okay, but assume still needs change to cmdlet because base class for that is SPOWebCmdlet. Perhaps by convention it could apply to site collection if the web is the root web?

[2016-10-06 16:12] andrewgaskins commented on #31
Hi PaoloPia/Vesa,

I am sorry I didn't see the response and respond earlier. I re-tested this in SP 2016 and am not having any issues. I am thinking that in the first 2013 environment there may have been some issues with the load balancing and DNS.

Thanks for all your work on this. It is a great tool.

Cheers!
Andrew

[2016-10-06 16:12] #31 closed

[2016-10-06 23:25] JessKCan commented on #89
Thanks so much for looking into it.

[2016-10-13 05:36] infradsm commented on #88
Sorry for responding late, what I mean is if we have pressed the "focus on content" button (on the right hand side of EDIT)
![image](https://cloud.githubusercontent.com/assets/22339019/19337630/992aaaec-9149-11e6-80ea-6bdc62dd2f32.png)

When we are viewing the site in Landscape mode in iPad, and rotate into Portrait mode, you will find the left most column going behind the viewable area.  The same

[2016-10-14 15:50] VesaJuvonen commented on #88
thx infradsm,
Just to clarify this even slightly more is this related on some of the samples/code in the PnP Tools repository (like uI responsive package) or general bug/issue in SharePoint sites?

[2016-10-17 06:09] infradsm commented on #88
Sorry again, yes, this one is related to the UI responsive package.
After applying the responsive package, when we try to adjust the width of the site, the left hand side will hide behind viewable area

[2016-10-25 10:04] VesaJuvonen commented on #89
This one was fixed in the October release. It targets again properly at the site collection level by default. This was a bug with the previous releases, but if you update to latest version, it works as expected again cross site collection in classic sites.

[2016-10-25 10:04] #89 closed

[2016-10-27 12:32] Luz85 opened #91 "SharePointSynchronization.dll"
Hello,

Where can I get the "SharePointSynchronization.dll" which is referenced in "MA-ADMA.XML" and "MA-SPMA.XML" from the "UserProfile.MIMSync"?

In the folder C:\Program Files\Microsoft Forefront Identity Manager\2010\Synchronization Service\Extensions\ are only these files:

Exch2007Extension.dll
Exch2010Extension.dll
FunctionLibrary.dll
GALSync.dll
Logging.dll
Logging.xml
Microsoft.IdentityMa

[2016-10-28 00:48] jomarbellosillo opened #92 "Horizontal scroll bar in sitepages page in SharePoint.UI.Responsive"
I have implemented the SharePoint.UI.Responsive in my site and upon checking my site pages it has a horizontal scroll bar

![image](https://cloud.githubusercontent.com/assets/22386899/19790475/06a480f0-9ceb-11e6-9191-6d849328bb72.png)

Also this is my site in a 12" screen, it also has a horizontal scroll bar how can I make the top navigation links and Search Box go down to another row?
![image](ht

[2016-10-28 00:56] #92 closed

[2016-10-28 01:00] goms123 opened #93 "Horizontal Scrollbar in responsive UI"
I have implemented the SharePoint.UI.Responsive in my site and upon checking my site pages it has a horizontal scroll bar

![image](https://cloud.githubusercontent.com/assets/22386899/19790475/06a480f0-9ceb-11e6-9191-6d849328bb72.png)

Also this is my site in a 12" screen, it also has a horizontal scroll bar how can I make the top navigation links and Search Box go down to another row?
![image](ht

[2016-11-03 16:06] craig-martin commented on #91
Hi, the SharePointSynchronization.dll file is built by the https://github.com/OfficeDev/PnP-Tools/blob/master/Solutions/UserProfile.MIMSync/SharePointSync.psm1 file using this C# source file:
https://github.com/OfficeDev/PnP-Tools/blob/master/Solutions/UserProfile.MIMSync/SynchronizationRulesExtensions.cs

The function that builds the dll is called Publish-SynchronizationAssembly

[2016-11-08 10:54] kktong opened #94 "Drop down navigation menu not showing sub-menus"
I added a heading and 2 links under Global Navigation, it supposed to show as a drop down menu.
![image](https://cloud.githubusercontent.com/assets/23334970/20096315/431ef874-a5e4-11e6-99d8-3e94a1350344.png)

In Desktop view, it behaves normally.
![image](https://cloud.githubusercontent.com/assets/23334970/20096280/28b6b8a0-a5e4-11e6-98fc-12ee8d627029.png)

But in tablet/mobile view, the menu goes

[2016-11-11 09:07] andikrueger commented on #49
Are there any news on this topic?

[2016-11-14 09:21] JmATK opened #96 "SPOnline - when On-premis?"
I'm trying to get this working on the 2016 test environment (before going into Prod)

Downloaded and installed the SharePointPnPPowerShell2016.msi ... running the Powershell with

.\Enable-SPResponsiveUI.ps1 -TargetSiteUrl "http://portal/" -InfrastructureSiteUrl "http://portal"

Results is this:
_"Connecting to target site URL: http://portal
Exception occurred!
Exception Type: System.Management.Au

[2016-11-15 14:40] markvogt opened #97 "ERROR in documentation: sample for running tool using credentials is INACCURATE..."
All,
Just a quick note...
In the documentation about using credentials (username/password) in lieu of using a Principal (client/secret), the sample STILL uses the -c and -s parameters:

"sandboxtool -m scanandanalyze -t <tenant> -u <user> -p <password>
A real life sample:
sandboxtool -m scanandanalyze -t contoso -c admin@contoso.onmicrosoft.com -s mysecret
"

This **WILL** generate an error.
ALSO,

[2016-11-15 15:39] markvogt opened #98 "ISSUE: The "fixed" WSP for Solutions with "empty" assemblies STILL contains a REFERENCE to the deleted assembly in the manifest.xml file !!!"
All,

I'm using this tool to assist with a client's remediation, but I noted the following...
On all WSPs which possess "empty" assemblies the SandboxTool.exe did the following:
1. CREATED an "_fixed" version of the solution :-)
2. REMOVED the actual DLL from this _fixed version of the solution (WSP) :-) , BUT...
3. LEFT the REFERENCE to the now-deleted DLL in the new WSP's manifest.xml file :-( !

[2016-11-15 20:59] SPDoctor commented on #96
Did you add the SharePoint snap-in?

[2016-11-16 03:31] JmATK commented on #96
I've installed the SharePointPnPPowerShell2016.msi - is this what you refer to?

[2016-11-16 15:40] isalerts commented on #96
The name of the command appears to have changed. "Connect-SPOnline" is now "Connect-PnPOnline". You can modify the script to reference this new command instead, and it should work. I was able to enable the responsive UI for our on-prem environment by doing this.

[2016-11-17 06:51] JmATK commented on #96
Hi isalerts
Thanks - worked liked a charm :D

[2016-11-17 06:51] #96 closed

[2016-11-22 23:02] Naju9990 opened #99 "Command Not Found Exception - Enabling Sharepoint Responsive UI for SP 2013"
I was trying to enable Responsive UI to SharePoint 2013. Below are the steps performed,

- Logged into farm 2013 with admin credentials

- Downloaded files from this repository, [Master](https://github.com/OfficeDev/PnP-Tools/archive/master.zip) on farm, unzipped and placed Pnp-Tools-Master folder in 'E' drive

- opened SP 2013 Management Shell, executed below commands
          -->  cd 'My folder

[2016-11-23 16:55] Naju9990 commented on #99
Fixed !
Changed SPOnline - PnPOnline
               SPOResponsiveUI - PnPresponsiveUI
               SPOProvisioningTemplate - PnPProvisioningTemplate.

By making above changes to 'Enable-SPResponsiveUI.ps1' worked for me, and now the site collection is Responsive!

Found solution from here [Satisfied Solution](https://github.com/OfficeDev/PnP-Tools/issues/96), credit to @isalerts .

[2016-11-23 16:55] #99 closed

[2016-11-23 23:40] SPDoctor commented on #99
I have submitted a pull request #100 which I hope will fix this.

[2016-11-23 23:43] SPDoctor commented on #96
I have submitted a pull request #100 which I hope will fix this.

[2016-12-01 04:44] ghost opened #101 "Unable to locate the MA : SPMA"
Hi, I'm trying to run the Install-SharepointSyncConfiguration and I keep getting an error "unable to locate the MA : SPMA...".

I'm not overly familiar with the operation of Sharepoint or MIM........but I'm guessing this may indicate that some previous steps may have been missed out?

[2016-12-01 20:49] yayforbeer opened #102 "SP-Responsive-UI.css - image max-width breaks all SP image sprites"
On ln 94 in SP-Responsive-UI.css:
img {max-width: 100%;}

This breaks all of the image sprites used for the search, ribbon, "get started" tiles, etc.

[2016-12-02 11:33] PaoloPia commented on #102
Hi, Thanks for your message. Can you share a screenshot of the issue? Thanks.

[2016-12-02 22:48] yayforbeer commented on #102
For sure, see attached. This sample is for Team Sites. Thanks!

![sp-pnp-imagemaps](https://cloud.githubusercontent.com/assets/7860650/20853059/7faddba8-b8b7-11e6-8cbd-7b3c9e962220.png)

[2016-12-05 09:39] setezerocinco opened #103 "SharePoint.UI.Responsive delay"
Hi!

I have implemented with success the SharePoint.UI.Responsive in a Team Website Solution, but it seems to have a delay when I open the page (about 5 seconds) before the responsive take place. This makes the default website appears for the user before all the responsiveness is applied. Am I doing something wrong or it is really like this?

Many Thanks,
Fernando Silva

[2016-12-05 09:45] giuleon commented on #103
Hi,

this is the right behaviour, because this feature works with the custom actions, that runs when the SharePoint page is loaded, for the moment there is no way to reduce this delay.

Kind regards

[2016-12-05 10:06] setezerocinco commented on #103
Ok, thanks for the info.

[2016-12-05 10:06] #103 closed

[2016-12-19 13:45] sergeng opened #105 "SPMA "This management agent type has not yet been implemented.""
MIM Sp1 on Win 2016
First Install was OK, no Error Message!
Then deleted both ADMA & SPMA, uninstalled MIMSync and Formatted.

Rebuild a new vm, installed as usual and then i get this error message for SPMA
no-start-ma
stopped-extension-dll-file-not-found

.NET 4.6.1 is already installed

[2016-12-28 15:22] micmicc commented on #105
Hi sergeng
I have the same thing.
This is because " Import-MIISServerConfig -Path $Path -Verbose" dont work

[2017-01-19 10:59] virendramunot opened #106 "Could not load type 'Microsoft.SharePoint.Client.AuditMaskType' from assembly 'Microsoft.SharePoint.Client, Version=16.0.0.0, Culture=neutral, PublicKeyToken=71e9bce111e9429c'."
I am using PNP PnP Provisioning Engine code to create site on my on-prem sharepoint 2013 environment. Below is the snapshot of the code which I wrote on remote server using Console App.

 ProvisioningTemplateCreationInformation ptci = new ProvisioningTemplateCreationInformation(ctx.Web);

                    // Create FileSystemConnector to store a temporary copy of the template

[2017-01-25 15:54] tseward commented on #101
Did you download all files in https://github.com/SharePoint/PnP-Tools/tree/master/Solutions/UserProfile.MIMSync? The MA is the file MA-SPMA.XML and must reside in the same directory as the script.

[2017-01-25 18:19] tseward commented on #105
Sounds like you have not installed https://www.microsoft.com/en-us/download/details.aspx?id=41164 or have an older version. Install this and restart the FIM service in services.msc.

[2017-01-26 10:28] micmicc commented on #105
Hi,
I have installed MIM 2016 to synchronize Profile in two AD forest.
MIM works fine. Now SharePoint 2016 it’s ok.
Thanks

[cid:image001.png@01D277C7.4990F680]<http://www.bva-group.com/>

Michel TSARA
Chef de Projet – Project Manager | BVA GROUP / IT services

T + 33 5 67 20 29 19 | M + 33 6 08 10 79 61
michel.tsara@bva-group.com<mailto:michel.tsara@bva-group.com>
75 rue Saint Jean | 31131 Balma

[2017-01-31 10:47] VesaJuvonen commented on #105
thx @tseward for assisting with this. Based on the discussion above, issue can be now closed.

[2017-01-31 10:47] #105 closed

[2017-01-31 10:51] VesaJuvonen commented on #11
Closed since no follow up from the original issue submitter based on request on the additional details.

[2017-01-31 10:51] #11 closed

[2017-01-31 10:59] VesaJuvonen commented on #50
Double checked and missing file is currently in project. Thx Terry for reporting and closing this one.

[2017-01-31 10:59] #50 closed

[2017-01-31 11:02] VesaJuvonen commented on #94
thx kktong, Unfortunately responsive package does not support all different scenarios in the classic sites for 100%, which is why you see this. This scenario simply has not taken into account in the implementation currently. PnP is community driven initiative and we depend on community contributions in these kind of areas where additional capabilities are needed. We'll absolutely have a look on th

[2017-01-31 11:09] VesaJuvonen commented on #106
This issue was moved to SharePoint/PnP-Sites-Core#1025

[2017-01-31 11:09] VesaJuvonen commented on #106
Hi virendramunot, this is version conflict on the used CSOM assemblies, since if you are using SharePoint 2013 environment, you should not see exception related on the 16.x version in the code. 16.x in this context refers to SharePoint Online CSOM package, which clearly is now the root cause of the issue. This would also imply that you have reference simply on wrong CSOM version in your console ap

[2017-01-31 11:09] #106 closed

[2017-02-08 15:39] SPDoctor commented on #45
Existing PR on Core/OfficeDevPnP.Core/Resources/SP-Responsive-UI.js is pending with conflicts, but contains the changes needed.

https://github.com/SharePoint/PnP-Sites-Core/pull/951

[2017-02-09 13:39] PaoloPia commented on #45
Hi Guys,
The PR https://github.com/SharePoint/PnP-Sites-Core/pull/951 is now merged. I will close this item.

[2017-02-09 13:39] #45 closed

[2017-02-14 09:20] Laul0 commented on #90
Hi @marilka,
Could you try with the latest version of Responsive UI (available on the Site Core Repo) ?
I tried DatePicker on IE, Edge, Firefox, Chrome and it's work now. This is due because the latest version doesn't use anymore his own JQuery for works.

## Overview

| IE | Chrome | Firefox | Edge |
|---|----------|-------|-------|
| ![sp_calendar_datepicker_ie](https://cloud.githubusercontent.c

[2017-02-16 08:43] Laul0 commented on #19
Hi,
About the Suite Bar, the latest version of Responsive UI available into the repo PnP-Sites-Core,  provides in responsive mode a behavior similar of that of SharePoint Online with three dot.
Could you see if this new behavior fix your issue with the Suite Bar ?

[2017-02-18 14:22] enmasser opened #109 "Responsive UI SPO Chrome iOS and Andriod"
Responsive UI installed on SharePoint Online site collection. Pinch to zoom doesn't work on Google Chrome on iOS and Android but works fine on Safari on iOS. I've have to uninstall due to this.

[2017-02-23 22:16] Laul0 commented on #109
Hi @enmasser,
Have you used the latest version of PnP-Responsive from the PnP-Sites-Core repo ? If yes, I sent a new PR that fixed your issue.
@VesaJuvonen, do you think this issue can be taken in consideration ?

[2017-02-24 14:01] VesaJuvonen commented on #109
thx Laul0, we'll absolutely will have a look on that.

[2017-02-24 16:03] enmasser commented on #109
Hi @Laul0

I've uploaded your .js and the latest .css from Core and it hasn't fixed the issue. I can't pinch to zoom using Chome but still works fine on Safari.

[2017-02-24 18:30] Laul0 commented on #109
Hi @enmasser, I just been submit a new version. Could you try it and say if your issue is fix this change ? thx by advance.
PS: I tested this change on my device and it should be works now. Don't forget to remove cache to be sur you use the last version of files.

[2017-02-26 13:35] Laul0 commented on #109
Hi @VesaJuvonen, do you think is possible to add a Responsive Enhancement label into the PnP-Sites-Core repo ? In this way, it will be easier to identify Responsive issue or PR.

[2017-02-27 09:45] enmasser commented on #109
Hi @Laul0. I've tested this morning and it's working perfectly. Thank you! 👍

[2017-02-27 09:53] enmasser opened #110 "Responsive UI SPO - Global navigation dropdowns"
Hi

Responsive UI installed on SharePoint Online site collection. The drop downs on my global navigation stop working as soon as the global navigation is 'stacked' under the current navigation. I've tested Chrome on desktop and Chrome and Safari on iOS.

Image: https://certecoltd-my.sharepoint.com/personal/allan_wilson_certeco_co_uk/_layouts/15/guestaccess.aspx?docid=034be28b592fe415f8ff4c12f973ed

[2017-02-27 14:36] Laul0 commented on #110
Hi @enmasser, I think another issue was already open about this case. Could you check if the issue #94 is the same cas than your ? If yes, a new enhacement is being verified by the Microsoft team, it will be necessary to wait until this last one will be validated

[2017-02-27 14:56] enmasser commented on #110
Hi @Laul0. Yeah, it's the same issue. Sorry I missed that.

[2017-02-28 09:12] Laul0 commented on #102
Hi, this line doesn't exist anymore in the CSS file. This issue souldn't be closed ?

[2017-02-28 09:15] Laul0 commented on #36
Hi, the code from @jquintozamora has be taken in consideration, so this issue souldn't be closed ?

[2017-02-28 12:34] VesaJuvonen commented on #109
@Laul0 - I'll add that label. Thx for suggesting.

[2017-03-01 08:11] PaoloPia commented on #102
Well, actually the line is still there (https://github.com/SharePoint/PnP-Tools/blob/master/Solutions/SharePoint.UI.Responsive/SP-Responsive-UI.css#L94) but I cannot reproduce the issue ...

[2017-03-04 14:14] Laul0 commented on #110
Hi @enmasser, no problem. Could you close this one please ? It's to avoid the doublons. Thx

[2017-03-04 14:19] Laul0 commented on #102
@PaoloPia, a question for my own culture : Why are the sources of this repo not updated in accordance with the Sites-Core repo ? Is there a reason ?
I have tried to reproduce this case too, but I didn't manage to.

[2017-03-06 09:52] #110 closed

[2017-03-08 13:46] TorstenGladbach commented on #102
hello,
i have the same problem with the responsive design.
if i activate this feature, i do not have some icons in the site.  ( i open the site with IE, Firefox and Safari)
Libary; if i upload a document: The Icons be missing

[2017-03-08 18:23] PaoloPia commented on #109
It has been merged (https://github.com/SharePoint/PnP-Sites-Core/pull/1073). Thus, I will close this issue. Thanks.

[2017-03-08 18:23] #109 closed

[2017-03-09 16:43] DennisGoss commented on #102
I'm guessing this is impacting ribbon icons also?  Responsive Package Active on team site on the left
![image](https://cloud.githubusercontent.com/assets/26307457/23760391/8ba8ee5a-04bd-11e7-99c2-f4a5065557db.png)

[2017-03-14 09:04] Laul0 commented on #102
Hi @DennisGoss, I have a question. This issue appear on a simple Team Site ? Without any other SP feature activated apart the RWD from PnP ? And this is a SP2016 here, isn't it ?

[2017-03-14 09:07] Laul0 commented on #88
Hi @infradsm, simple question for know, have you tried the latest version of Responsive UI available on the PnP-Sites-Core repos ? If yes, have you always the same issue ?

[2017-03-14 22:44] DennisGoss commented on #102
Hey @Laul0 - Yes brand new (vanilla) 2016 team site with Responsive Design (from PnP) Enabled. Farm is at Nov. 2016 Update - 16.0.4456.1000 though I did slipstream the updates into the Farm Install/Build which was completed via PowerShell DSC.

[2017-03-17 17:39] LenCardinal opened #111 "MIM Profile Sync: Script fails with MIM 2016 SP1"
The script's version check does not recognize MIM PowerShell version 4.4 or greater. I have MIM with SP1 installed. error below:

VERBOSE: Found the key:
Microsoft.PowerShell.Core\Registry::HKEY_LOCAL_MACHINE\SYSTEM\CurrentControlSet\Services\FIMSynchronizationService
SharePoint Sync requires MIM PowerShell version 4.3.2064 or greater (this version is currently installed: 4.4.1302.0.
Please instal

[2017-03-19 22:33] cathornton commented on #111
This error needs to be fixed (I submitted an update).  The problem is in the SharePointSync.psm1 file.  Update the condition to pass to:

if ($MimPowerShellModuleAssembly.VersionInfo.ProductMajorPart -eq 4 -and
        (($MimPowerShellModuleAssembly.VersionInfo.ProductMinorPart -eq 3 -and
        $MimPowerShellModuleAssembly.VersionInfo.ProductBuildPart -ge 2064) -or
        $MimPowerShellModuleAs

[2017-03-19 22:39] cathornton commented on #111
Actually, have a look at this one... https://github.com/SharePoint/PnP-Tools/pull/95

[2017-03-20 00:57] LenCardinal commented on #111
Yup, thanks. I commented out the version check to get by…

From: cathornton [mailto:notifications@github.com]
Sent: Sunday, March 19, 2017 6:39 PM
To: SharePoint/PnP-Tools <PnP-Tools@noreply.github.com>
Cc: Len Cardinal <Len.Cardinal@microsoft.com>; Author <author@noreply.github.com>
Subject: Re: [SharePoint/PnP-Tools] MIM Profile Sync: Script fails with MIM 2016 SP1 (#111)

Actually, have a look

[2017-03-21 13:53] andikrueger commented on #10
I had the need to reuse the configuration files during the configuring of MIM for several SharePoint Management agents.
A modified version of the PowerShell module and the description on how to use it is available [here](https://andikrueger.wordpress.com/2017/03/11/microsoft-identity-manager-and-several-sharepoint-management-agents/)

[2017-03-22 15:00] RaveekumarSelvaraj opened #112 "Unable to get photo, Manager"
The SharePointSync.DLL is not having the additional attributes like manager, photo, Jobitile, etc, due to that, in the SPMA all those are getting deleted. Kindly help how to add those attributes.

[2017-03-23 17:34] Laul0 commented on #102
Hi @DennisGoss, I just tried with the latest version of Responsive-UI that comes from the Sites-Core Repo... I can't manage to reproduce this issue. Question : which source code did you use in your case ? PnP-Tools or Sites-Core ?
To prove it, look on my screenshot :

![pnp-tools-issues-102-01](https://cloud.githubusercontent.com/assets/15279205/24261352/fcca2916-0ff6-11e7-8cdd-dc6dd77f4180.PNG)

[2017-03-24 17:41] 2toLeadMike commented on #102
I'm also having the same issue, here's whats happening:

[code]

The icons on the top bar are sprites and require their default size. The second you say max-width:100% the big sprite becomes a tiny image to fit the small 'window' div that displays it. Then because sprites work by offsets you no longer see the image

![css1](https://cloud.githubusercontent.com/assets/25105464/24306589/7a2ac71c-1097

[2017-03-24 19:51] Laul0 commented on #102
Hi @2toLeadMike, thx for this informations... I understand better now why I didn't manage to reproduce this issue.... May I suggest you to try this methods to "install" and activate the PnP Responsive ?:

## Cause
You use the version of Responsive UI from the PnP-Tools repository but this is not the latest version of the Framework.

Bellow, one of this two steps allow you to get the latest versio.

[2017-03-31 18:20] craig-martin commented on #10
Thanks for working on the sync scripts, Andi.  If you submit a PR I'll test it out and merge.

[2017-04-05 02:01] JessKCan opened #115 "Provisioning.VSTools for On-premises"
Hi,

Is there an on-premise version for the Provisioning.VSTools tool please? Otherwise, what is the best tool to enable us to quickly deploy SharePoint assets from Visual Studio for development purposes if using PnP CSOM for on-premises?

Thank you

[2017-04-06 03:36] pschaeflein commented on #26
Finally made some progress on this tonight.

Since the solution suggests deploying to Azure, I added a WebJob to the project that is triggered on-demand via Http. (An Azure Schedule job can make it run once per day.) The WebJob will post a card to an Office 365 Group / Team connector.

![tip-card](https://cloud.githubusercontent.com/assets/8008013/24736855/9ebc43e2-1a58-11e7-83c6-adc2858804ba.jpg)

[2017-04-11 17:01] frankmarasco commented on #26
I Looks very good Paul

[2017-04-25 08:00] NT-Chin opened #118 "Responsive UI for Survey Form is not working"
Hi,

I tried to use SharePoint Responsive UI for SharePoint 2013 and notice the survey form is unable to shrink to the smallest screen view which is 320px and the smallest it can goes is 470px.

Would like to know this can be fixed for Survey Form? Or this Responsive UI package is not ready to be used for Survey form.

[2017-05-09 22:25] MigueGo opened #119 "How to setup import from multiple forest"
Hello,
what is the right way to import user profiles from different forest in a single SPS 2016 farm  with MIMSync?
there is any link of modification to bring in XML files to get this possible ?
thank you for any feedback on that.

[2017-05-11 02:43] harbars commented on #119
Hi,

Whilst one could modify the PoweShell Toolkit to do this, it is not designed that way at present. The toolkit is intended to get you up and running quickly with a base configuration similar to what UPS delivered in SharePoint 2013 for a simple single domain scenario.

Modifying the PowerShell to include multiple containers is reasonably trivial, but it then requires some manual fix up afterwa

[2017-05-12 11:08] harbars commented on #111
changes to support more recent and future MIM builds have been merged.

[2017-05-12 11:08] #111 closed

[2017-05-12 11:10] harbars commented on #101
this is almost always due to the working path of the powershell session not being the current location of the XML files included in the MIM Toolkit. For the time being, please ensure the current local directory is set to the location of the XML files.

[2017-05-12 11:10] #101 closed

[2017-05-12 11:13] harbars commented on #32
addressed in my comments for the associated pull request on this topic

[2017-05-12 11:13] #32 closed

[2017-05-13 12:52] #91 closed

[2017-05-13 12:58] harbars commented on #112
Regarding the manager property:

If you are on a SharePoint 2016 build prior to the February 2017 PU, or any build of SharePoint 2013. You should not select the "Use External Identity Manager" option within Synchronization Settings. Please see https://blogs.msdn.microsoft.com/joerg_sinemus/2017/02/22/sharepoint-2016-february-2017-cu-and-mim-to-import-user-profiles/ for more information.

The other

[2017-05-13 12:58] #112 closed

[2017-05-13 13:01] harbars commented on #49
how important you your customers is the credential fix up, @andikrueger ?

[2017-05-13 13:02] #47 closed

[2017-05-13 13:02] #46 closed

[2017-05-15 22:17] astatke opened #120 "Error: the term 'Connect-PnPOnline' is not recognized..."
I am trying to enable the SP Responsive UI for my SP 2016 on-premise environment. I first installed the May 2017 SharePointPnPPowerShell2016.msi from this page, https://github.com/SharePoint/PnP-PowerShell/releases. Next I powered PowerShell but I am getting the attached error message. It looks like this issues has been reported before but the solution I am seeing in this github is not helping me.

[2017-05-16 17:25] astatke commented on #120
Never mind. My issue is now resolved.
Basically I uninstalled the SharePoint PnP PowerShell Cmdlets and installed it again. This time enabling the .ps1 file went without a hitch and was able to have a responsive UI enabled on my site.
Thank you to all PnP folks!!

[2017-05-19 08:46] jpalo commented on #120
Had the same after installing Cmdlets to fresh environment. Re-installed them using "Install-Module" which fixed the issue.

[2017-05-19 08:59] jpalo opened #121 "[A]Microsoft.SharePoint.Client.Taxonomy.TermStore cannot be cast to [B]Microsoft.SharePoint.Client.Taxonomy.TermStore."
Hi,
When enabling responsive UI, I get the following error in PROD environment, while no such errors in QA environment. I didn't participate in SP installation of either environment, so cannot comment on history of the servers and farm, but it would indicate this environment contains some remnants of SP2013 as there are two Taxonomy assemblies detected.

Responsive UI seems to work OK regardless o

[2017-05-23 13:36] ejagkrch opened #122 "Enable-PnPResponsiveUI : Server relative urls must start with SPWeb.ServerRelativeUrl"
When I ran I got this error, even it says in the end Succeeded, the responsive scripts are not working.
Enabling responsive UI on target site
Enable-PnPResponsiveUI : Server relative urls must start with SPWeb.ServerRelativeUrl
At C:\PnP-Tools-master\PnP-Tools-master\Solutions\SharePoint.UI.Responsive\Enable-SPResponsiveUI.ps1:52
char:9
+         Enable-PnPResponsiveUI
+         ~~~~~~~~~~~~~~~~~~

[2017-05-23 18:31] Laul0 commented on #118
Hi @NT-Chin, thx you for your feedback... It's really useful and appreciated.
First thing, I tried a survey too, and in fact, the survey it's not supported by the current Responsive UI Solution.

If I take up an answer from our friend @VesaJuvonen : "Unfortunately responsive package does not support all different scenarios in the classic sites for 100%, which is why you see this. This scenario sim

[2017-05-23 18:40] Laul0 commented on #122
Hi @ejagkrch. Thx you for your feedback. Could you give us a complement of information plz ?
Did you use the latest version of PnP PowerShell ? Did you use the Enable-ResponsiveUI from the PnP-Tools repos or PnP-Sites-Core directly ? Which version of SharePoint do you use (Online, On-Premise 2013/2016) ? If you use an On-Premise version, what is the latest CU installed on your environment ?
These

[2017-05-23 18:44] Laul0 commented on #122
@VesaJuvonen, could you set the responsive label plz ? Thx by advance :)

[2017-05-23 18:44] Laul0 commented on #118
@VesaJuvonen, could you set the responsive label plz ? Thx by advance :)

[2017-05-23 22:42] ejagkrch commented on #122
@Laul0 Thanks for the quick response. I got it working by reading the readme notes. I was using a subsite website as a target url (https://....sharepoint.com/....), I created new site collection (https://......sharepoint.com/sites/......) and it worked just fine.
Thanks alot.

[2017-05-24 06:54] Laul0 commented on #122
Thx @ejagkrch ! If your issue is "fixed" could you close it plz ?

[2017-05-24 08:15] VesaJuvonen commented on #122
I'll close this one, since issue seems to be resolved.

[2017-05-24 08:15] #122 closed

[2017-06-05 10:33] andikrueger commented on #49
It would be great to set the credentials during the first setup without the need to open the MA in MIM.
In my latest customer projects, this was not a show stopper, but it is somehow uncool, when the password must be set separately. I’d like to see this fixed. If I think about more complex setups (several SPs), it is annoying to set passwords several times.

[2017-06-05 16:40] craig-martin commented on #49
Thanks for the feedback @andikrueger, unfortunately that functionality (setting the credential) in the MIM Sync product  breaks part of the configuration so at the moment we're unable to use it.

[2017-06-13 07:12] VesaJuvonen commented on #120
Closing this one based on the input in comments. Thanks for updating the status afterward as well, that will be helpful for others.

[2017-06-13 07:12] #120 closed

[2017-06-13 16:19] astatke opened #124 "Where is Disable-PnPResponsiveUI.ps1"
I was looking for the PowerShell file, Disable-PnPResponsiveUI.ps1, but seems to be not available as part of this github repository. Am I missing something here?

Thank you.

[2017-06-13 21:26] Laul0 commented on #124
Hi @astatke, no need because a method already exists here https://github.com/SharePoint/PnP-PowerShell/blob/master/Documentation/DisablePnPResponsiveUI.md.
Does it meet your needs ?

[2017-06-16 14:49] MigueGo commented on #119
hi Spence,

thank you for the answer, in support i see now many customer that are surprise to see taht MIM is a development product.

really the gap is important between 2010 and 2013 for UPA part and not sure that customers are prepared for that.

/regards, Miguel

[2017-06-16 14:49] #119 closed

[2017-06-16 19:47] Laul0 commented on #124
@astatke, if my previous answer fix your issue, could you close it plz ? thx by advance

[2017-06-19 09:36] jansenbe commented on #97
Thx for reporting. I've fixed the sample commandline.

[2017-06-19 09:36] #97 closed

[2017-06-19 09:38] jansenbe commented on #98
Closing as SB is now turned off in SPO

[2017-06-19 09:38] #98 closed

[2017-06-19 12:34] GrumpyWookie opened #126 "BUG : When navigating to popup dialog - eg. RE ORDER LINKS"
When clicking on the button for 'reorder links' from a "Summary Links" webpart, there is a JS error.

I've included a one line change - which solves the issue - as shown below .

This is because the page doesn't have "DeltaTopNavigation" - and so I added the line in _BOLD_.

Is someone able to check/agree - and then do a PULL/COMMIT ??

        setUpToggling: function () {
            /* if it is

[2017-06-19 12:35] GrumpyWookie commented on #126
if (!topNav){ return; }

[2017-06-19 17:13] Laul0 commented on #126
Hi @GrumpyWookie, you right, you code fix this issue and another one... I suggested to check if the content is in modal dialog, but my method is less flexible than yours, that's why I updated my last PR #125

[2017-06-30 11:08] Kesarisuresh opened #127 "Issue when applying responsive UI across different site collections"
Hi Team,
I have 3 site collections in my environment. When I run the command
.\Enable-SPResponsiveUI.ps1 -TargetSiteurl "https://intranet.mydomain.com/" -Credentials $creds

responsive UI is working fine on the root site.

When I run the command
.\Enable-SPResponsiveUI.ps1 -TargetSiteurl "https://intranet.mydomain.com/sites/SCA" -Credentials $creds

responsive UI is not working on the site collect

[2017-07-05 21:18] scubasteveb opened #128 "BUG: Term Store (managed metadata) selector window doesn't render due to error in responsive.js"
I believe this is related to Issue #126  If you have a field in a list/doc library that has a data source of Managed Metadata and when you edit the item and click on the white tags to open the term store selector window, no data renders.
The error in the console window is:
sp-responsive-ui.js:195 Uncaught TypeError: Cannot read property 'cloneNode' of null
    at Object.setUpToggling (sp-responsiv

[2017-07-07 14:50] dragosvelica opened #129 "PnP UI responsive is pointing in the wrong site collection"
Hi Team,
We have a strange situation in our environment and I was wondering if this ring a bell to anyone:
We have 2 site collections under the same web application-using SharePoint 2013 On Premises and PnP UI Responsive:
-https://intranet.contos.com
-https://extranet.contoso.com
First time it happen  in February, and this week the second time, the Extranet was pointing to the Intranet for the pnp

[2017-07-12 21:01] hoksibish opened #131 "People Picker not populating"
After applying the UI the people picker on a form will not populate any of the fields to choose from.  SharePoint online using standard team site layouts.  it is system wide not just one form.

thanks

[2017-07-17 14:10] hoksibish commented on #131
Follow up:
Seems the issue only shows up when the form is not a modern page.

[2017-07-20 01:46] MondayDev opened #132 "AD Groups Import"
This is not so much an issue but a question,
Why would someone import Groups from AD via MIM. My understanding is this has no impact on actual security. What value does importing groups provide?

[2017-07-20 08:02] Laul0 commented on #131
Hi, this error should be fixed with #125 PR (just waiting the approbation)

[2017-07-20 08:19] Laul0 commented on #128
Hi, this error should be fixed with #125 PR (just waiting the approbation)

[2017-07-20 18:05] hoksibish commented on #131
I added your code into the .js file and the issue still exists.
![7-20-2017 1-04-21 pm](https://user-images.githubusercontent.com/30129487/28432048-195064d0-6d4c-11e7-80dd-e98171575175.png)
![7-20-2017 1-03-29 pm](https://user-images.githubusercontent.com/30129487/28432049-195a5b48-6d4c-11e7-98cd-e159a5938295.png)

Here are some screenshots of the people picker affected.

[2017-07-20 18:35] Laul0 commented on #131
Ok, I'll test it on my side and I come back to you soon.

[2017-07-21 16:52] harbars commented on #132
It’s not about security (authentication and authorization) it’s more about leveraging groups and their membership elsewhere in the platform.

For example, group membership can be used to populate audiences with can be used in numerous content targeting scenarios. Group membership is also often used in claims augmentation scenarios for delivering things like “mega menus” or “my links”.

Of course,

[2017-07-22 17:43] Laul0 commented on #131
Hi @hoksibish, I've just tested on my tenant, and I can't reproduce your issue with the latest version... Here, you'll find a screenshot that prove that the latest edit code fix this type of issue.

![screen shot 2017-07-22 at 19 33 13](https://user-images.githubusercontent.com/15279205/28493350-a9c152d4-6f15-11e7-9d8f-ad6caf36ea09.png)

One more thing, are you sure that your browser cache was cle

[2017-07-24 13:47] hoksibish commented on #131
went back and looked and the .js did not have the updated code....  Not sure how that happened.  Apologies, your code corrected the issue.  Well done and thanks!

[2017-07-26 13:51] MCTAhmad opened #133 "Site Contents is not responsive"
Hi,

The site contents page "**/_layouts/15/viewlsts.aspx**" is not responsive in the classic mode in **SharePoint Online** site.

![sitecontents](https://user-images.githubusercontent.com/29453038/28624700-d6129e7a-7211-11e7-9086-e60e79e8c6a3.png)

[2017-07-26 14:16] MCTAhmad opened #134 "Search Web Parts are not responsive"
Hi,

I have a page in **SharePoint Online** site contains the common five search web parts ("**Search Box**", "**Search Navigation**", "**Search Results**", "**Refinement**" and "**Taxonomy Refinement Panel**"), but as you can see in the attached screenshot that they are not subjected to the Responsive UI.
![search webparts01](https://user-images.githubusercontent.com/29453038/28625758-1cb23b76-72

[2017-07-26 14:54] Laul0 commented on #133
Hi @MCTAhmad, Responsive-UI on Site Contents should be works :
![image](https://user-images.githubusercontent.com/15279205/28627698-e375b3d4-7222-11e7-801d-3a9becaa5336.png)

Could try again and check in your browser console if any error appear ?

[2017-07-26 14:59] Laul0 commented on #131
If your issue is fixed, could you close this feed please ? Thank you by advance and thank you for your feedback

[2017-07-26 15:02] MCTAhmad commented on #133
Hi @Laul0,

Thank you very much for your prompt reply.

I'm afraid the issue still persist, I even reran the PS script again thought that moving between classic and modern style could break the style.
I cannot see any errors in the console.
The issue is repro in both Chrome and Firefox.

I hope you find my reply helpful.

Thank you.

Best Regards,
Ahmad

[2017-07-26 15:04] Laul0 commented on #134
Hi @MCTAhmad , thx you for your feedback... It's really useful and appreciated.
I tried this case too, and in fact, you right, the search components are not supported by the current Responsive UI Solution in small resolution.

As @VesaJuvonen says so well : "Unfortunately responsive package does not support all different scenarios in the classic sites for 100%, which is why you see this. This scen

[2017-07-26 15:07] #131 closed

[2017-07-26 15:13] Laul0 commented on #133
Did you try to update the flat files directly with the latest version ?

1. You can get the source code from #116
2. Browser into your SharePoint infrastructure site (if defined) or target site and go to : Style Library > SP.Responsive.UI
3. Update files manually

Maybe your issue come from the old version and this new version could fix your issue.
After this handling, keep us in touch.

[2017-07-27 09:10] MCTAhmad commented on #133
Hi @Laul0 ,
Thank you very much for your reply.
I had overridden the files manually, but the issue still persist.
I had enabled the SP.Responsive.UI on another team site, and I could repro the issue there as well.
I can see that it is working fine with Home Page, and, also in document libraries and lists, with an observation in lists which I'm gonna post in different issue if not raised already.

[2017-07-27 09:15] Ahmad-Gad commented on #134
Thank you 👍

[2017-07-27 15:14] hoksibish opened #135 "Wiki Header image"
Seems a large image in the header on a wiki page will not resize as the rest of the page does.  Should the image scale down as well?  The image is 1500x371 and when the site resizes the header image does not.
Thanks

[2017-07-29 15:27] Laul0 commented on #133
@Ahmad-Gad I'm using the version that I suggested you to try to fix your issue (#116).

[2017-08-03 15:44] aortiz-arroyo opened #137 "Enable-PnPResponsiveUI : Value does not fall within the expected range"
Hello,

I'm trying to install the PNPResponsibeUI in my SharePoint 2016 environment.  When I execute the Enable-SPResonsiveUI powershell, I get the following error:

Enable-PnPResponsiveUI : Value does not fall within the expected range.
At C:\Users\******\Desktop\PnP-Tools-master\PnP-Tools-master\Solutions\SharePoint.UI.Responsiv
+         Enable-PnPResponsiveUI
+         ~~~~~~~~~~~~~~~~~~~~~~

[2017-08-05 16:24] Laul0 commented on #137
Hi @aortiz-arroyo, could you check the following prerequisites ?
1. Download the PowerShell package in accordance with **SP2016** : [PnP Powershell 2016](https://github.com/SharePoint/PnP-PowerShell/releases/download/2.16.1706.1/SharePointPnPPowerShell2016.msi)
2. Install the package
3. Ensure that the account used to Provisione your SharePoint site is Site Collection Administrator
4. Open a Power

[2017-08-08 19:49] MatthewMcD commented on #134
@Ahmad-Gad and @Laul0 I have started dabbling into this issue from the CSS side on in the Enterprise Search Center. Right now I am focusing on the out of the box Search (default.aspx), Results (results.aspx) and People Results (peopleresults.aspx). I could use some advice on the JavaScript/jQuery side of the puzzle like the best way to override the default Hover Card (JavaScript) behavior because

[2017-08-09 08:15] Ahmad-Gad commented on #134
Hi @MatthewMcD,

Thank you very much for your support.
This looks just great.
Regarding the refiners, I believe we can just add collapse button to display it when the page is shrunk.
Regarding the hover cards, it should be displayed one by one when the user hover on them. I believe the location of the hover panel underneath the "ms-srch-item-path" would be fine as you did already.
Regarding search

[2017-08-09 09:50] Ahmad-Gad commented on #133
Hi @Laul0,

Sorry for my late reply.

I tried both Fix16 and Fix20 from https://gitlab.lsonline.fr/SharePoint/javascript-customactions/commits/master
And also, the latest commit on https://github.com/SharePoint/PnP-Tools/pull/116/commits

But issue still not resolved yet!

[2017-08-09 12:32] MatthewMcD commented on #134
Thanks, it still needs a lot of testing and I need to address Tablet mode.

The issue on hover is how to trigger them on touch devices, I don't know if there is a "hover" with touch. I suspect there is not, so I would need someone else to figure that out. The PowerPoint sample above is the OOB display template preview, not the hovercard.

I don't know how the navigation collapse code works. but we

[2017-08-09 12:46] Ahmad-Gad commented on #134
Hi,

We had tested the hover in iPad and it's working with just one touch over the document item.
Not sure if it works in mobile. But I can test it on Android and I will update you.

I would be glad to help you in testing as well.

A quick question, are you using your own CSS, or working on the "SPResponsiveUI" one?
@Laul0, your feedback is much appreciated as well.

[2017-08-09 14:50] MatthewMcD commented on #133
@Ahmad-Gad I would try this on a fresh site collection. It works for me without any changes in both Classic and Modern UI Modes.
![pnp responsiveui sitecontents classic](https://user-images.githubusercontent.com/7558738/29127946-15173960-7ce8-11e7-99aa-2baf18452bcc.jpg)
![pnp responsiveui sitecontents](https://user-images.githubusercontent.com/7558738/29127952-19bffe84-7ce8-11e7-8011-fe107c3cdb75.

[2017-08-09 14:53] MatthewMcD commented on #134
If a tap opens the hover, what opens the search result item? Do you have to click the URL?

I have added the CSS to the main SP-Responsive-UI.css file.

[2017-08-09 15:09] MatthewMcD commented on #134
@Ahmad-Gad (I am NOT a GITHub pro by any stretch of the imagination) I have created a branch for this issue https://github.com/MatthewMcD/PnP-Tools/tree/Issue134/Solutions/SharePoint.UI.Responsive currently it contains only the smart phone factor mentioned above. I'll try to get the basic Tablet work done today and tomorrow.

I'll have a look at the JavaScript changes as well, but don't hold your

[2017-08-09 15:51] igorb90 opened #138 "Oslo Design Error"
Hi,

everytime I'm loading an oslo page with the responsive design enabled I'm getting this error:

` TypeError: Cannot read property 'cloneNode' of null
    at Object.setUpToggling (SP-Responsive-UI.js:195)
    at Object.init (SP-Responsive-UI.js:118)
    at responsiveStartup (SP-Responsive-UI.js:299)
    at eval (eval at ProcessOnLoadFunctionNames (init.js?rev=XhcVShqV%2FkUCdcpWykXmOA%3D%3DTAG0:

[2017-08-09 15:54] Ahmad-Gad commented on #134
Hi @MatthewMcD,
Thank you for sharing the link.
I'm afraid it doesn't work on my side, and they had just broken the whole responsive UI on the site. I got to install the original one back to fix the issue.
Did you test it on SPO or On-premise?

[2017-08-09 15:56] Ahmad-Gad commented on #133
@MatthewMcD,

Thanks for your reply.
It is working fine on the modern looking for sure.
My concern is for the classic.
I had tested it in two different sites in two different trial/development SPO tenants and observed the same behavior.

[2017-08-09 16:07] Ahmad-Gad commented on #133
@MatthewMcD, Regarding your question about the hover. You need to hover on any place in the item div ("ms-srch-item") not on the anchor. I had tested on Android smart phone and seems the hover is working there as well. But of course it will be nice if we could move it underneath the item as you did in your screenshots.

[2017-08-09 16:23] Laul0 commented on #138
Hi @igorb90, in fact, currently the Oslo Master Page is not supported by the ResponsiveUI.
I'm working on it and maybe other people too... A solution should be coming soon.

[2017-08-09 17:48] igorb90 commented on #138
Hi @Laul0, glad to hear that :)

[2017-08-09 19:38] MatthewMcD commented on #134
So far SPO only.

[2017-08-09 19:39] MatthewMcD commented on #133
Those are not hover items, they are the default preview item in a PowerPoint or Picture Item display template.

[2017-08-10 10:28] Ahmad-Gad commented on #133
I know, I was just giving an example :)
I'm just suggesting to be popped up on that location just underneath the item.

[2017-08-10 10:30] Ahmad-Gad commented on #134
It's not working with me :(

[2017-08-10 18:56] MatthewMcD commented on #134
Do you have other CSS in play?

[2017-08-11 03:51] gmurtaza24 opened #139 "Autohide of contents after the page load after applying Responsive UI"
Hi. I applied Responsive UI to my sharepoint 2013 site. After disabling the Responsive UI I am having the following issue.
The main bar shows with search bar and sharepoint logo only when the page is being loaded and has not being loaded completely. After the page completely loads these things automatically hides. Screenshots are attached to give a better picture of the problem. Please help.
![1](

[2017-08-11 08:54] Ahmad-Gad commented on #134
No. If I didn't find a solution, I may go through creating an SPFx web part which does CSS and JavaScript injections to enable the responsive UI on the search default pages on Search Center Sites.

[2017-08-11 14:16] MatthewMcD commented on #134
What site template are you using? So far I am only testing on the Enterprise Search Center (SRCHCEN#0) and the Team Site (STS#0).

[2017-08-11 14:24] Ahmad-Gad commented on #134
The same plus the Basic Search Center.

[2017-08-11 14:41] MatthewMcD commented on #134
Basic Search Center is not a publishing site. I suspect part of the issues you are seeing may be that some features and folders are different on that site.

[2017-08-14 16:51] hoksibish commented on #135
Seems that header images in general do not resize.  anyone experiencing the same issue?

[2017-08-14 21:31] Laul0 commented on #135
Hi @hoksibish, I'm not sure to understand your issue/question. You want that an image in a Wiki Page resize automatically like the rest of the content ?

[2017-08-14 21:43] MatthewMcD commented on #135
Can you supply a screenshot?

[2017-08-17 16:40] dgrooms opened #140 "SharePoint Online Auth fails"
connecting to sharepoint online uses the wrong account resulting in the 'That didn't work .. ' screen.
Can't get past this error, how do you clear what ever is caching the wrong account ?

[2017-08-17 17:05] wobba commented on #140
Which sample/tool are you referring to?

[2017-08-17 17:09] dgrooms commented on #140
Query Tool, sorry I thought I was on the query tool, node.

[2017-08-17 17:31] wobba commented on #140
The latest release should not store cookies, so my guess is you have a domain joined or SSO with IE to O365. Is that correct?

[2017-08-17 17:38] dgrooms commented on #140
Right, my machine is setup for SSO to my domain account.
The browser control isn't able to follow all the redirects when my domain account isn't the right account for the site I'm trying to access. Is there a workaround or would I just have to spin up a VM not on the domain to run this.

[2017-08-17 17:41] dgrooms commented on #140
Powershell seems to be able to workaround this, when it brings up a browser for login it doesn't default to my domain.

[2017-08-17 21:01] wobba commented on #140
@dgrooms I'll investigate the code difference with pnp posh and perhaps switch.

[2017-08-18 11:09] wobba commented on #140
PnP posh uses the same code for weblogin.. but you might refer to Connect-SPOService, which I'm curious as to how they open that dialog.

[2017-08-18 11:30] wobba commented on #140
I investigated a bit more, and SPO commandlets use an ADAL app with interactive login flow. We could implement the oauth2 authorization code flow as well I guess - but that would require you to either pass in a custom appid, or trust the one I make and register somewhere.

[2017-08-18 14:32] wobba commented on #140
I have a solution almost ready :)

[2017-08-23 05:40] NT-Chin opened #141 "SharePoint website unable to use back to top feature in iPhone"
Hi,

We have a website develop in SharePoint 2013 but when browsing it from iPhone it is unable to leverage 2 taps feature at the top of the phone to allow web pages auto scroll back to top. Is there any way to resolve it?

[2017-08-23 08:41] Laul0 commented on #141
Hi @NT-Chin, your problem is "normal" because the scroll that you can see is not the scroll of the global page but it is to the DIV with the ID **s4-workspace**.
No solution suggested, sorry.
More information : this system of scroll bar is used by SharePoint to keep the Top Bar and the Ruban at the top of the page.

[2017-08-24 17:56] wobba commented on #140
v2.7 release which should solve the issue: https://github.com/SharePoint/PnP-Tools/tree/master/Solutions/SharePoint.Search.QueryTool cc @dgrooms

[2017-08-24 17:56] #140 closed

[2017-08-24 20:13] dgrooms commented on #140
Works perfectly, thanks!!

[2017-08-31 15:19] TobiasHaa opened #143 "Responsive Design SP 2016 onPremise with 2 Frontend Server sometimes not working"
Hi,
when I call a sitecollection where I installed the responsive design sometimes it is working and sometimes not. I could not find out why. Can someone help me or knows that behaviour?

My environment for SP 2016 includes:
- 2 Frontend Server
- 2 Application with with search
- 1 DB Server

I'm calling the sitecollection with IE (11 newest version). I tracked the network with the developer tools

[2017-09-06 14:29] inteleptu opened #144 "Error when importing the module"

[2017-09-07 10:04] inteleptu commented on #144
Forget it, it was a mistake.

[2017-09-08 12:43] #144 closed

[2017-09-08 12:45] VesaJuvonen commented on #124
Since no answer, closing this one.

[2017-09-08 12:45] #124 closed

[2017-09-12 16:55] kenglover opened #145 "Logo getting stretched on tablet mode"
The logo gets stretched on tablet mode.  This had previously been fixed by pull request  https://github.com/SharePoint/PnP-Tools/pull/58

You can see the history of line 430 has been reverted from max-height to height, reintroducing this bug - https://github.com/SharePoint/PnP-Tools/blame/master/Solutions/SharePoint.UI.Responsive/SP-Responsive-UI.css#L430

[2017-09-15 11:32] #143 closed

[2017-09-15 12:04] TobiasHaa opened #146 "SP-Responsive-UI.css not loaded with throttled network connection"
Hi,

the SP-Responsive-UI.css is not loaded when the network connection is slow or throttled while calling SharePoint e.g. from a mobile device. That means the responsive design is not working at all.

Is there a way to change that behaviour or fix that problem?

Attached two examples of the network traffic from chrome.
"**NetworkTrafficWithoutThrottling_Fast.png**" shows that both files are loade

[2017-09-19 12:41] Pajchel opened #147 "Mobile Browser View feature is still active despite being deactivated under Site Features"
Hi, we have applied PnP Responsive pack on our solution (SharePoint 2016) and also deactivated the Mobile Browser View under Site Features.
However if a user visits a page on iPad or iPhone or any mobile device, he still sees the page using the Mobile Browser View (as if the feature was enabled).
Can you please provide any solution/workaround?
Note: it needs to be applicable on Sharepoint Online a

[2017-09-20 17:07] edixon-github opened #148 "Unchecking the Include Rank Detail checkbox doesn't remove parameters from Url"
Clicking the “Include Rank Detail” checkbox adds ‘rankdetail’ as part of a selectproperties Url parameter, but unchecking the box does not remove  ‘rankdetail’ from the selectproperties parameter or the parameter itself, if no other Select Properties properties have been included.

![image](https://user-images.githubusercontent.com/28318509/30657138-bf353bbe-9df3-11e7-939b-9556b693b848.png)

[2017-09-28 19:31] vandre opened #149 "Article Page Title is Not Responsive"
Expected Behavior:
Article Title wraps (Like in Modern pages)

Actual Behavior:
Article title text is cut/overflow is hidden

The culprit is the following CSS rule

div#titleAreaRow .ms-core-pageTitle {
 overflow: hidden;
 white-space: nowrap;
}

Workaround (For Mobile Width):
div#titleAreaRow .ms-core-pageTitle {
            width: 100%;
            white-space: inherit;
        }

Tested in
Offi

[2017-10-02 16:22] PaoloPia commented on #149
Hi,
Thanks for your feedback. Feel free to submit a Pull Request for this change. Please, consider also that the CSS and JS file within this repository are just for reference and customized solutions. If you want to update the responsive UI of the PnP Core engine, you need to make a PR against the DEV repository of PnP-Sites-Core.

[2017-10-04 08:37] mzoomers opened #150 "Responsive Design not working on personal site (My Site) due to hard-coded redirect to mobile view"
I need your backing, please see issue description:

https://sharepoint.uservoice.com/forums/329214-sites-and-collaboration/suggestions/31753024-remove-hard-coded-mobile-view-redirect-on-personal

Thanks! :)

[2017-10-06 17:42] OCPSMike opened #151 "Responsive UI Problem"
I created a new site collection to try Responsive UI out. The problem I’m having is it works fine on the desktop with all browsers but when I try it on a mobile device (IOS) it is not responsive. Any help would be greatly appreciated.

[2017-10-06 21:48] Laul0 commented on #151
Hi @OCPSMike, the device in question is an iPhone 7 or greater ?

[2017-10-06 22:45] OCPSMike commented on #151
Yes. iPhone 7 Plus.

Sent from my iPhone

On Oct 6, 2017, at 5:48 PM, Laul0 <notifications@github.com<mailto:notifications@github.com>> wrote:

Hi @OCPSMike<https://urldefense.proofpoint.com/v2/url?u=https-3A__github.com_ocpsmike&d=DwMCaQ&c=bViWEpkreoQhMxUsQMNGaA&r=3TRsVRYU3NaPAB9tNzPD6hwdElxdk2M0FUkeWtVG_EY&m=rcK7H97d0t4zvdjVxwom0zFey5pHeDntDDfgDrOawXg&s=OEjixQZ1SHIaXh2J8cPAVsXEAHbiNZgQxQVPjuwwmB

[2017-10-09 09:49] mzoomers commented on #151
We had to add the following lines to our web.config for the iPhone to be redirected to the desktop view (it was always redirected to the mobile view regardless whether the Mobile Browser View site feature was active):

`<browserCaps>
    <result type="System.Web.Mobile.MobileCapabilities, System.Web.Mobile, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
    <filter>isMobileD

[2017-10-10 11:37] OCPSMike commented on #151
@mzoomers I dont have an issue going to the mobile browser view. When I go to the site with my iPhone 7 Plus it goes to the desktop view but not the responsive one. Its the standard view like on a desktop.

[2017-10-10 12:43] OCPSMike commented on #151
@Laul0 your question gave me an idea to look at the css. I made some changes to the max-width. I was able to get it to work but only the first time you go to the site. If you refresh the screen or go to a library and then go back to the main page it is no longer responsive.

[2017-10-11 09:46] Laul0 commented on #147
Hi @Pajchel, did you incur this behaviour on SharePoint Online too ?
On your SharePoint 2016, did you enable the Publication Infra feature and are you using Device Channel ?
What is the browser are you using on your devices ?

[2017-10-11 09:51] Laul0 commented on #146
Hi @TobiasHaa, the status code 304 means that the latest version is present on your cache browser then the file is not reloaded from the server.
If you want to reload the version from the server, you have to clean your cache browser.
So here, I don't see any issue with the load files. After, other questions :
1. What is the master page do you use on your SharePoint site ?
2. Did you disable the mo

[2017-10-11 09:52] Laul0 commented on #137
Hi @aortiz-arroyo, your issue is fixed ?

[2017-10-11 09:56] Laul0 commented on #128
Hi @scubasteveb, the PR was approved. Your issue is solved, isn't it ?

[2017-10-11 09:58] Laul0 commented on #126
Hi @GrumpyWookie, the PR was approved and merged. Your issue is solved, isn't it ?

[2017-10-11 10:00] Laul0 commented on #94
Hi @kktong, the PR (PnP-Tools repo) that include this improvement was marred. Your issue is fix, isn't it ?

[2017-10-11 20:29] melmc20 opened #152 "Search Query Tool - View Properties"
I am using the Search Query Tool, with SP Online. Login and run query successfully, when I click "View Properties" for a result, all of my result tabs go blank, never return and the properties pane doesn't open.

[2017-10-12 07:36] wobba commented on #152
This feature depends on a side effect of cross site publishing. Take a look at https://github.com/wobba/SPO-Trigger-Reindex and the `enableAllManagedProperties` setting which allows you to enable this to work. You should not enable this all over the place as it has a negative impact on the search engine which builds the refiner used. That is why this was switched off by default in SPO a long time

[2017-10-13 13:47] wobba commented on #148
@edixon-github Fixed and will be included in the next release.

[2017-10-13 13:47] #148 closed

[2017-10-18 10:57] OCPSMike commented on #151
I still do not get the responsive view on any size iPhone..

[2017-10-18 13:40] Laul0 commented on #151
Hi @OCPSMike, could you provide us some complementary information ?
- What is your target environment (On-premise 2013/2016, Online) ?
- What is the Master Page that you're using ?
- What is the Site Template that you're using ?
- Did you perform some custom dev that can have a side effect on your SharePoint Site ?
- On which browser do you work ?
- Do you have one or more errors in your browser c

[2017-11-28 21:53] zqillini4 opened #153 "ADMA Export?"
I know with MIM and SharePoint you can configure an export from SharePoint to Active Directory, however in the module, I don't see anything with an AD Export step in the run profile, or an export flag or anything (based on the steps below).  Anyway, I was wondering if there was a way to export from SharePoint to Active Directory?

   1. ADMA Import
   2. ADMA Sync
   3. SPMA Import
   4. SPMA Sync

[2017-11-29 05:41] harbars commented on #153
The toolkit does not provide this. The toolkit is designed (at present) to replicate the default functionality of UPS within SharePoint 2010/13.

In order to configure Export to AD, you would need to configure export attribute flows on the AD MA, and then create an Export run profile. You would then extend or replace the Sync cmdlets in the module to include the AD Export run profile, as well as a

[2017-11-29 15:46] dennis1234rew opened #154 "Issue with Responsive UI"
I have installed SharePoint UI(http://www.c-sharpcorner.com/article/implement-responsive-ui-in-sharepoint-2016/) To make my site responsive. the feature successfully gets activated but my site is not responsive on mobile phone.
--

![problem1](https://user-images.githubusercontent.com/34101044/33383855-58e24bb2-d51c-11e7-951f-3a8d080ebcf0.PNG)

![problem2](https://user-images.githubusercontent.com

[2017-12-05 16:09] BurstX opened #155 "Blog article link leads to a non-existent page"
![image](https://user-images.githubusercontent.com/3790231/33617005-4fb07bf2-d9e7-11e7-834e-0ded80381e8f.png)

[2017-12-05 20:18] astatke opened #156 "Removing installed css and js files after running Disable-PnPResponsiveUI"
I do like your Responsive UI script and is using it in our on-premise SharePoint 2016 environment. My question is after using the Disable-PnPResponsiveUI script I see the functionality disabled, however, deployed css and js files are still there. Wouldn't it be Ok if the disable function also removes these files?
I suspect this is by design but I want to use the technique you are using for deployi

[2017-12-05 20:28] astatke opened #157 "Using PnPResponsiveUI with customized css/js files as part of Infrastructure Site colelction deployment"
I would like to deploy your PnPResponsiveUI using a separate Infrastructure site collection as it can give me one source of truth. However, customization I applied to SP-Responsive-UI.css (in my case to hide OneDrive and NewsFfed custom tiles) is ignored. For some reason my added css script is removed from SP-Responsive-UI.css file at time of installation. Is this by design? If so is there a way w

[2017-12-12 08:37] hasankoroglu opened #158 "SharePoint.Search.QueryTool Bug"
After selecting Result Source ID, the url does not change.

[2017-12-12 13:23] wobba commented on #158
When you select, and move the mouse out it should change in the URL. Just tested. @hasankoroglu can you provide a screenshot or steps on how to reproduce?

[2017-12-12 13:24] AshrafRah96 opened #159 "Unable to authenticate with correct credentials."
I am authenticating using a specific user account and using the method 'Sharepoint online' the credentials i have entered are correct and i am able to log in however the program does not direct me back to the application, and prompts me with a dialog stating that the authentication has failed when i exit from the browser. Any solutions?

[2017-12-12 13:29] wobba commented on #159
Hi @AshrafRah96.

Use "SharePoint Online Management" instead. Seems to yield better results these days.

[2017-12-12 13:48] hasankoroglu commented on #158
Thanks for interest.
https://1drv.ms/v/s!Aj-2PjPharvQg-8_BMYpgLNf9RcHXg

[2017-12-12 14:04] AshrafRah96 commented on #159
@wobba hi, i seem to have another issue, when i place a query text into the text box the connection is successfully but it does not display any primary results, sometimes i get a message stating "One or more errors occurred. The operation has timed out", is there a solution to this or could it be a bug? Thanks

[2017-12-12 17:10] wobba commented on #159
@AshrafRah96 Hard to say. I connected to SPO just today. What do you use as the target url? Any mfa/adfs involved? Look at the raw tab and see if the error there makes any sense.

[2017-12-13 14:32] wobba commented on #158
Hmm.. weird. When I pick and then select another field, the value is replaced with the guid and all updates. What happens if you type the below in the field, does it update?

`SPSite|My Site Collection Source`

[2017-12-14 17:49] hasankoroglu commented on #158
Nothing happens. https://1drv.ms/v/s!Aj-2PjPharvQg-9BlDb44zUxDvLylQ

[2017-12-14 18:28] wobba commented on #158
Weird. Can you try on another machine? What OS are you running? If you have Visual Studio you could try compile yourself and see if it bugs somewhere. Also, try v2.6 and see if you get the same error.

[2017-12-19 13:31] #153 closed

[2017-12-21 09:47] wobba commented on #158
@hasankoroglu Do you have any more information on reproduction of this, if not I will close it for now.

[2018-01-04 21:34] farhanfaiz commented on #94
Using Managed Metadata navigation and second level navigation is not rendering.

[2018-01-14 17:47] Laul0 commented on #154
@VesaJuvonen could you set Responsive Label plz ?

[2018-01-14 17:47] Laul0 commented on #151
@VesaJuvonen could you set Responsive Label plz ?

[2018-01-14 17:48] Laul0 commented on #150
@VesaJuvonen could you set Responsive Label plz ?

[2018-01-14 17:48] Laul0 commented on #149
@VesaJuvonen could you set Responsive Label plz ?

[2018-01-14 17:48] Laul0 commented on #147
@VesaJuvonen could you set Responsive Label plz ?

[2018-01-14 17:48] Laul0 commented on #146
@VesaJuvonen could you set Responsive Label plz ?

[2018-01-14 17:48] Laul0 commented on #145
@VesaJuvonen could you set Responsive Label plz ?

[2018-01-14 17:49] Laul0 commented on #141
@VesaJuvonen could you set Responsive Label plz ?
It's possible to close this one too ?

[2018-01-14 17:49] Laul0 commented on #138
@VesaJuvonen could you set Responsive Label plz ?

[2018-01-14 17:49] Laul0 commented on #137
@VesaJuvonen could you set Responsive Label plz ?

[2018-01-14 17:49] Laul0 commented on #134
@VesaJuvonen could you set Responsive Label plz ?

[2018-01-14 17:49] Laul0 commented on #133
@VesaJuvonen could you set Responsive Label plz ?

[2018-01-14 17:57] Laul0 commented on #129
@VesaJuvonen could you set Responsive and investigation Label plz ?

[2018-01-14 17:57] Laul0 commented on #128
@VesaJuvonen could you set Responsive Label plz ?

[2018-01-14 17:57] Laul0 commented on #127
@VesaJuvonen could you set Responsive and investigation Labels plz ?

[2018-01-14 17:57] Laul0 commented on #126
@VesaJuvonen could you set Responsive Label plz ?

[2018-01-14 18:02] scubasteveb commented on #128
Yes, @Laul0  the issue is solved by that fix. Sorry for the delay on responding

[2018-01-14 18:06] Laul0 commented on #94
@farhanfaiz, thx for your feedback.
Unfortunately, the responsive package does not support all different scenarios in the classic sites for 100%, which is why you see this. This scenario simply has not taken into account in the implementation currently.
By default, the first target of this package is for default SharePoint Team Site without Publishing feature enabled.
I check this use case and see

[2018-01-14 18:08] Laul0 commented on #88
Hi @infradsm, you're issue still true with the latest version of the responsive package ?

[2018-01-14 18:12] Laul0 commented on #156
@VesaJuvonen could you set Responsive Label plz ?

[2018-01-14 18:12] Laul0 commented on #157
@VesaJuvonen could you set Responsive Label plz ?

[2018-01-14 18:18] Laul0 commented on #139
@VesaJuvonen could you set Responsive and Investigation Labels plz ?

[2018-01-14 18:20] Laul0 commented on #128
Thx for your answer @scubasteveb. Could you close this issue so ?

[2018-01-14 18:21] Laul0 commented on #121
@VesaJuvonen could you set Responsive Label plz ?

@jpalo, did you try with the latest version of PnP PowerShell Module ?

[2018-01-14 18:49] #128 closed

[2018-01-16 08:11] wobba commented on #159
Closed due to no feedback.

[2018-01-16 08:11] #159 closed

[2018-01-16 08:11] #158 closed

[2018-01-16 08:12] wobba commented on #152
In the upcoming 2.8 release I have fixed view all props for SPO Management login, so you could try that when it's released.

[2018-01-16 08:12] #152 closed

[2018-01-18 19:49] Grime121 opened #162 "Errors When Running SharePointSync.psm1"
I am getting the following errors when attempting to run the Install-SharePointSyncConfiguration command. I have no idea what might be going wrong here. I have even tried using my domain admin account for the credentials, and I get the same errors.

The property 'name' cannot be found on this object. Verify that the property exists and can be set.
At C:\System\SharePointSync\SharePointSync.psm1:13

[2018-01-19 12:19] harbars commented on #162
This is usually because the module has not been loaded correctly.  Check the previous command which imports the module, and ensure the correct file path is used.

s.

From: Grime121 [mailto:notifications@github.com]
Sent: 18 January 2018 20:51
To: SharePoint/PnP-Tools <PnP-Tools@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
Subject: [SharePoint/PnP-Tools] Errors When Running S

[2018-01-19 18:07] Travis-Constellation opened #163 "Responsive UI Managed Metadata Picker Dialog Does Not Work"
After installing the PnP Responsive UI to a classic SharrePoint Online site, the managed metadata picker dialog no longer shows the choices from the term set.

PnPResponsiveUI Disabled
![image](https://user-images.githubusercontent.com/15241544/35164748-3fd413d6-fd11-11e7-9c11-bf58f8b1588b.png)

PnPResponsiveUI Enabled
![image](https://user-images.githubusercontent.com/15241544/35164755-4a990dd0-f

[2018-01-21 13:10] Laul0 commented on #163
Hi @Travis-Constellation, same issue was already opened and fixed. Please refer to issue #128
If this feed doesn't fix your issue don't hesitate to let us know, else could you close this issue plz ? Thx

[2018-01-23 17:25] tardisflyr opened #164 "Responsive not working on web part/publishing pages"
I was unable to get the responsive layouts functioning on web part or publishing page templates, adding the following CSS to the tablets and smart phones sections of the css file got it working like a champ.

[code]

[2018-01-26 01:48] Chiramisu opened #165 "Deregister App"
In the README.md for the AccessApp Scanner there are instructions for registering a new app via appregnew.aspx and granting permissions to it via appinv.aspx, but there are no instructions for reversing this.

How can we restore our SPO environment to a "pre-scanner" condition? I don't want any remnants of the registered app or permissions to it after the process is complete.

[2018-01-26 16:29] tseward opened #166 "Add group attribute flow to enable Audiences Member Of"
The Active Directory Management Agent must have the sAMAccountName -> accountName Import flow on the ADMA in order for Audiences to resolve Active Directory groups when using a Member Of rule. This is currently missing in the PnP-Tools sample.

[2018-02-04 17:54] msiddani opened #168 "SharePoint.PermissiveFile.Scanner"

[2018-02-05 09:20] #168 closed

[2018-02-09 09:29] KNareshChand opened #169 "Error coming running Enable-SPResponsiveUI.ps1 script"
Hi Team,

I am getting below error while running the Enable-SPResponsiveUI.ps1 script. I am running the script in SharePoint 2013 farm and have installed the SharePointPnPPowerShell2013.msi file on my system.

Apply-PnPProvisioningTemplate : **Feature '52458274-1d4f-4b07-8ce7-007552713529'
for list template '100' is not installed in this farm.**  The operation could
not be completed.
At C:\Users\n

[2018-02-09 13:06] #169 closed

[2018-03-08 17:37] PBhardwaj1981 commented on #154
if you have Mobile Browser View site feature enabled, disable it and your site will become responsive.

[2018-03-08 18:41] PBhardwaj1981 opened #170 "iPhone 6 and above issue"
with iPhone 6 and above where screen resolution is higher, responsive UI makes the phone view look like tablet view.  iPhone 6+ and other + model render it as a regular desktop version.
Are you planning to add any solution for this?
Please see this link for the iPhone screen resolution:
https://www.paintcodeapp.com/news/ultimate-guide-to-iphone-resolutions

[2018-03-10 15:56] VesaJuvonen commented on #141
Closing as it's "by default" and no easy solutions. Thx @Laul0.

[2018-03-10 15:56] #141 closed

[2018-03-10 15:58] VesaJuvonen commented on #146
Closing for now as no responsive from  the original issue submitter. We can reopen if needed.

[2018-03-10 15:58] #146 closed

[2018-03-10 15:59] VesaJuvonen commented on #147
Closing as no responsive from original submitter.

[2018-03-10 15:59] #147 closed

[2018-03-12 09:46] Laul0 commented on #170
Hi @PBhardwaj1981, a similar issue was already opened #151.
Could you close this one plz ?

[2018-03-12 14:42] PBhardwaj1981 commented on #170
i opened this as i do not see any further response in #151

[2018-03-12 14:46] PBhardwaj1981 commented on #170
i am following up #151 and hence closing this.

[2018-03-12 14:46] #170 closed

[2018-04-05 12:03] goakes27 opened #172 "Running PS Script Enable-SPResponsiveUI Error: Could not establish trust for SSL/TLS"
When running the script to enable UI responsive on my sharepoint 2016 On-Premise lab I am getting an error.

I have a Sharepoint 2016 web front end at the URL HTTPS://home.msolab.intranet. The certificate is self-signed, not from a CA.

When I run the powershell command;
.\Enable-SPResponsiveUI.ps1 -TargetSiteurl Https://home.msolab.intranet, I get the following errors

Exception Occurred: Excepti

[2018-04-05 12:24] goakes27 commented on #172
FYI,
I removed the HTTPS Binding, and set the URL back to HTTP, and it worked fine.

[2018-04-18 20:41] ohseongkooi commented on #157
(s)

[2018-04-18 20:46] ohseongkooi commented on #139
(s)

[2018-04-25 21:38] Laul0 commented on #138
Hi Chris,

I’m currently working on it because I also need it for one of my customers…
I have to find a generic solution that can be answered to a maximum of use cases.

That should not be too long ;) (I hope)

[2018-04-26 07:13] VesaJuvonen commented on #138
That's great news - @Laul0 has really done a great job on the seattle.master support already and we absolutely appreciate the work here. Can't stress enough how valuable this work is for the rest of the community as there is still plenty of customers who are using classic experiences even in online.

[2018-04-28 14:10] spdevdocs commented on #135
We closed this issue as it had not activity within last 180 days. This is a generic process we have decided to perform for issues, which have not been explicitly marked still to be "work in progress" based on tags. We are performing this cleaning to make sure that old issues that have already been solved (but not closed) or are no longer relevant are cleaned out and make the issues more manageable

[2018-04-28 14:10] spdevdocs commented on #132
We closed this issue as it had not activity within last 180 days. This is a generic process we have decided to perform for issues, which have not been explicitly marked still to be "work in progress" based on tags. We are performing this cleaning to make sure that old issues that have already been solved (but not closed) or are no longer relevant are cleaned out and make the issues more manageable

[2018-04-28 14:10] #135 closed

[2018-04-28 14:10] spdevdocs commented on #118
We closed this issue as it had not activity within last 180 days. This is a generic process we have decided to perform for issues, which have not been explicitly marked still to be "work in progress" based on tags. We are performing this cleaning to make sure that old issues that have already been solved (but not closed) or are no longer relevant are cleaned out and make the issues more manageable

[2018-04-28 14:10] #118 closed

[2018-04-28 14:10] #132 closed

[2018-04-28 14:10] spdevdocs commented on #115
We closed this issue as it had not activity within last 180 days. This is a generic process we have decided to perform for issues, which have not been explicitly marked still to be "work in progress" based on tags. We are performing this cleaning to make sure that old issues that have already been solved (but not closed) or are no longer relevant are cleaned out and make the issues more manageable

[2018-04-28 14:10] #115 closed

[2018-04-28 14:10] spdevdocs commented on #93
We closed this issue as it had not activity within last 180 days. This is a generic process we have decided to perform for issues, which have not been explicitly marked still to be "work in progress" based on tags. We are performing this cleaning to make sure that old issues that have already been solved (but not closed) or are no longer relevant are cleaned out and make the issues more manageable

[2018-04-28 14:10] spdevdocs commented on #102
We closed this issue as it had not activity within last 180 days. This is a generic process we have decided to perform for issues, which have not been explicitly marked still to be "work in progress" based on tags. We are performing this cleaning to make sure that old issues that have already been solved (but not closed) or are no longer relevant are cleaned out and make the issues more manageable

[2018-04-28 14:10] #102 closed

[2018-04-28 14:10] spdevdocs commented on #82
We closed this issue as it had not activity within last 180 days. This is a generic process we have decided to perform for issues, which have not been explicitly marked still to be "work in progress" based on tags. We are performing this cleaning to make sure that old issues that have already been solved (but not closed) or are no longer relevant are cleaned out and make the issues more manageable

[2018-04-28 14:10] #82 closed

[2018-04-28 14:10] #93 closed

[2018-04-28 14:10] spdevdocs commented on #49
We closed this issue as it had not activity within last 180 days. This is a generic process we have decided to perform for issues, which have not been explicitly marked still to be "work in progress" based on tags. We are performing this cleaning to make sure that old issues that have already been solved (but not closed) or are no longer relevant are cleaned out and make the issues more manageable

[2018-04-28 14:10] #49 closed

[2018-04-28 14:10] spdevdocs commented on #36
We closed this issue as it had not activity within last 180 days. This is a generic process we have decided to perform for issues, which have not been explicitly marked still to be "work in progress" based on tags. We are performing this cleaning to make sure that old issues that have already been solved (but not closed) or are no longer relevant are cleaned out and make the issues more manageable

[2018-04-28 14:10] spdevdocs commented on #48
We closed this issue as it had not activity within last 180 days. This is a generic process we have decided to perform for issues, which have not been explicitly marked still to be "work in progress" based on tags. We are performing this cleaning to make sure that old issues that have already been solved (but not closed) or are no longer relevant are cleaned out and make the issues more manageable

[2018-04-28 14:10] #48 closed

[2018-04-28 14:10] spdevdocs commented on #26
We closed this issue as it had not activity within last 180 days. This is a generic process we have decided to perform for issues, which have not been explicitly marked still to be "work in progress" based on tags. We are performing this cleaning to make sure that old issues that have already been solved (but not closed) or are no longer relevant are cleaned out and make the issues more manageable

[2018-04-28 14:10] #26 closed

[2018-04-28 14:10] #36 closed

[2018-04-28 14:10] spdevdocs commented on #19
We closed this issue as it had not activity within last 180 days. This is a generic process we have decided to perform for issues, which have not been explicitly marked still to be "work in progress" based on tags. We are performing this cleaning to make sure that old issues that have already been solved (but not closed) or are no longer relevant are cleaned out and make the issues more manageable

[2018-04-28 14:10] #19 closed

[2018-04-28 14:10] spdevdocs commented on #10
We closed this issue as it had not activity within last 180 days. This is a generic process we have decided to perform for issues, which have not been explicitly marked still to be "work in progress" based on tags. We are performing this cleaning to make sure that old issues that have already been solved (but not closed) or are no longer relevant are cleaned out and make the issues more manageable

[2018-04-28 14:10] #10 closed

[2018-04-30 09:41] celings commented on #138
Great news indeed! Bonnes chance Laurent and let me know if I can support, e.g. by testing an early version.

[2018-05-03 17:28] franzieperez commented on #162
Did harbars solution end up working for you?
I have EXACTLY the same issue.
I have tried multiple domain accounts, pointing to different OUs, and have triple-checked the path and everything should be working but I am stuck.

[2018-05-03 18:08] harbars commented on #162
what is the path in the error message? if it is as above - i.e. C:\System\SharePointSync\SharePointSync.psm the module has not been imported correctly

[2018-05-03 23:38] Grime121 commented on #162
It has been a long time, but I think my problem was I did not delete the originally generated files before attempting to generate new ones. It was either that, or I did not remove the existing data in MIM before running the script again.

[2018-05-06 18:14] Laul0 commented on #172
I @goakes27, is your issue is resolved, could you close it ? The by advance :)

[2018-05-08 14:14] Laul0 commented on #138
Hi @celings, thx.
I'll create a new WIP PR and some help will be welcome :)
On which environment could you perform testing ?

[2018-05-08 20:52] celings commented on #138
Hi @Laul0, mostly working with SharePoint Server 2013 atm, but could also do some (quick) testing on SharePoint Server 2016.
I am limited to site collection admin btw, but I got the ResponsiveUI pack to work on Seattle with John Liu's [UserCustomActionsConfigPage](http://johnliu.net/blog/2016/3/sp-responsive-ui-three-files-ucacp) so testing (and potentially some debugging) should be fine!

[2018-05-14 14:59] westerdaled commented on #155
I can verify that this still hasn't been fixed ;-(

[2018-05-18 08:51] asgyo opened #175 "Resources files from the application server"
Hello
I'm making a web on promise with variations and I need the resource files that are consumed be from the application server not the ones deployed in the provisioning folder, how can I do it?
Thank you

[2018-05-24 21:21] dileep-j opened #176 "Can we apply this at a subsite level"
When the enable-responsiveui PS is run, the scripts are loaded to the style library and all sites and subsites are updated. Is it possible to restrict the subsites in which it gets affected? In case some of them have any issues with the JS and css override?

[2018-05-25 07:59] Laul0 commented on #176
Hi @dileep-j,

Currently, the Custom Action had a Site Scope, that means all webs and sub webs are impacted by this custom action.

If you want to change this behavior, you can't use the script provided by PnP-Tools or PnP-Sites-Core, you have to create your own script of deployment with a Web scope. If you do this, you have to keep in mind that **for each existing and new sub webs you have to run

[2018-05-29 02:20] Dion-Shi opened #177 "Calendar Items not aligned with pnp"
When changing the page size, calendar items are not aligned in the container.

![image](https://user-images.githubusercontent.com/11415721/40634845-81660cfc-633a-11e8-850b-531679eaaa40.png)

And when opened in full size page, calendar item are not properly aligned.

![image](https://user-images.githubusercontent.com/11415721/40634865-98b8294e-633a-11e8-84bd-8e3f2cced920.png)

[2018-06-06 13:36] schooltechsp opened #178 "ClientSideComponentId"
I get this message when running Enable-SPResponsiveUI.ps1 for SharePoint 2016 on premise:
Enable-PnPResponsiveUI : Field or property "ClientSideComponentId" does not exist.
Looking for a way to get through this. Web searches not helpful.

[2018-06-06 15:05] Laul0 commented on #178
Hi @schooltechsp,

Which version of SharePoint PowerShell Frameworks are you using ?

Did you download and install `SharePointPnPPowerShell2016.msi` ? (last release [here](https://github.com/SharePoint/PnP-PowerShell/releases/tag/2.26.1805.1))

[2018-06-06 15:06] Laul0 commented on #177
Hi @Dion-Shi,

The current version of Responsive UI doesn't support this use case.

[2018-06-06 18:04] schooltechsp commented on #178
Thank you! That was it. Once I imported the PNP module, life got better.

[2018-06-06 18:04] #178 closed

[2018-06-19 20:25] jvineeth opened #179 "Search Query Tool not working with TLS 1.2 enabled"
We have TLS 1.0 disabled in our environments and using TLS 1.2 to crawl SP content.  The tool now doesn't work and shows the below message:

The request was aborted: Could not create SSL/TLS secure channel.

[2018-06-19 20:34] wobba commented on #179
If you have insights in to how to resolve this I'd be greatful.

[2018-06-20 02:18] prawnz opened #180 "2.8.1 doesn't work with SharePoint Online using cloud accounts"
When trying to use Search Query tool with onmicrosoft.com accounts it keeps failing with the error if it unable to find the tenant

[2018-06-20 02:20] prawnz commented on #180
2.7 works though with the SharePoint Online option rather than the SharePoint Online Management authentication method

[2018-06-20 06:47] wobba commented on #180
@prawnz what kind of authentication do you have for your tenant? The reason I removed the option in 2.8 was that it was causing a lot of problems in Windows 10 for a lot of users.

[2018-06-20 18:18] celings commented on #138
Hi @Laul0, how's it going? I'd like to help testing/debugging/coding but I don't see a WIP PR yet, correct?

[2018-06-21 08:30] Laul0 commented on #138
Hi @celings, you're right! Currently I'm developing on my own repository before the first WIP PR. I have to finalise some little things and I should can do the PR at the end of the week. At worst, at the beginning of the next week.
I'm not only working on the Oslo compatibility. I'm working on little bit more use cases  ;)

[2018-06-24 21:33] RichBurdes1 opened #181 "Unhandled Exception Security Token"
Hi Folks - downloaded 1.7 today, extracted and added the app to the tenant as detailed. Tenant is MFA enabled - so able to connect PnP with useweblogin - attempt to run the scanning tool but get a 401 based on the token service.

Are there any other steps to take to run this on an MFA enabled tenant?

=====================================================
Scanning is starting...25/06/2018 9:30:34 A

[2018-06-25 08:51] jansenbe commented on #181
Hi @RichBurdes1 ,

This scanner does not support web login and given the scanner needs to be able to read all sites I would highly recommend to use the app-only approach as described in https://github.com/SharePoint/PnP-Tools/tree/master/Solutions/SharePoint.UIExperience.Scanner#setting-up-an-app-only-principal-with-tenant-permissions

[2018-06-25 09:11] Laul0 commented on #138
Hi @celings, the PR is ready ;)
I didn't finish all of use case but currently this version allow you to test the basic ones

[2018-06-25 10:38] prawnz commented on #180
Interestingly I was using that option in Windows 10 with little issues. The
windows auth method works but I generally use a separate account to do
admin work which ranges from cloud accounts to other ad accounts. Tenant
isn't setup with any special authentication but the normal adfs and web
logins are expected

On Wed, 20 Jun. 2018, 2:47 pm Mikael Svenson, <notifications@github.com>
wrote:

[2018-06-25 11:51] wobba commented on #180
Weird that SPO management fails for onmicrosoft account though. Can you log in using the SPO powershell cmdlets with the same onmicrosoft account?

[2018-06-25 14:02] wobba commented on #180
Which is weird indeed, as it should use the same login.... I have to think about this one a bit for sure - or maybe just re-add the old method.

[2018-06-25 21:06] celings commented on #138
Great! I'll start working with it tomorrow and report back any bugs when I
encounter them. For now, props + thanks! :)

2018-06-25 11:11 GMT+02:00 Laul0 <notifications@github.com>:

[2018-06-26 09:21] igorb90 commented on #138
@Laul0 Thank you so much for implementing this!
I'm currently testing your solution on a SharePoint 2016 Server. There are no more errors already which makes the Oslo Page already usable on usual PCs - great!

I have only two small improvement proposals:
1. On the Tablet view/size the "Search this site" box is right of the navigation links - would be prettier if it would be below maybe? :)
![2018-

[2018-06-26 09:31] Laul0 commented on #138
Hi @igorb90<mailto:notifications@github.com>, in accordance with your screenshot, its look like the new version of cascading stylesheet and/or maybe the JavaScript file are not effective…

Normally, you don’t should have this result. Could you refer to this [readme]( https://github.com/Laul0/PnP-Tools/blob/731b4e17b73bd245a1e96df2f11e63806b961f84/Solutions/SharePoint.UI.Responsive/README.md) to sh

[2018-06-26 10:03] igorb90 commented on #138
Hi @Laul0 , I don't know how but I actually downloaded the wrong files from github. Sorry, my fault.
I think I got the right one now:
![2018-06-26 12_00_19-window](https://user-images.githubusercontent.com/30871719/41904386-8cf0622a-7938-11e8-8b9d-94cddaf1f546.png)

The sidebar looks sick, love it!
Everything looks great and is working properly so far. I'll deploy it to a production Site Collectio

[2018-07-04 00:34] RichBurdes1 commented on #181
Hi @jansenbe we have set up the app-only approach and granted permissions as required. When we then open up powershell to run the scanner we get the 401 exception. I checked the link above and the registration piece is what we did, maybe I'm missing something as once we have the client secret etc details we should just open powershell and roll with a command to 'directory where scanner .exe file i

[2018-07-05 00:44] synergy-rcalingan opened #183 "Responsive behavior breaks when page is refreshed"
Using Chrome's device tool bar, when the page is refreshed, the responsive behavior breaks.

![image](https://user-images.githubusercontent.com/40842309/42297108-69795a4c-802f-11e8-976c-9c04e44131f9.png)

[2018-07-05 07:39] Laul0 commented on #183
Hi @synergy-rcalingan, in accordance with your screenshot, the responsive framework seems to be working half-way because the burger button is present and we can't see any menu (top or left) but the the resolution is not take into account.

By the way, we're currently working on a new version of responsive solution.

[2018-07-05 07:49] synergy-rcalingan commented on #183
Hi @Laul0, yes that was what I mean by saying "responsive behavior breaks", the page did not respond to the browser resolution. Sorry for the confusion.

Looking forward to the new version of responsive solution.

[2018-07-05 07:51] Laul0 commented on #183
If you can try the new version and this behavior is fixed can you keep we in touch ?

[2018-07-05 08:38] synergy-rcalingan commented on #183
Yeah sure, I would glad to try the new version and let you know.

[2018-07-05 08:56] igorb90 commented on #138
Maybe I found a bug. Sometimes when I open a subsite from a link in SharePoint the site stops loading until I stop the script in Internet Explorer.
In the console I see this error more than 1000 times: "Error: ReferenceError: "getEventListeners" is undefined"

I can't exactly tell when it happens. Maybe when I'm using a different color palette.
Only saw this in IE. Chrome works fine, but I'll keep

[2018-07-05 09:09] Laul0 commented on #138
Hi @igorb90, thx you for your feedback. You right, that can be considerate like a bug because `getEventListeners` is not recommended in Prod solution.
In other hand, it is strange that IE break because I put a "try…catch" around this part of code to avoid any js error…

I have another solution that I’ll commit soon.

Thx again

[2018-07-06 11:42] igorb90 commented on #138
Hi @Laul0 , yes, IE was always special :)

There is another thing which occurs sometimes: the page is divided into the half of the Browser window. Everything loads perfectly, but I have to scroll down to see the rest of the page. So it only applies to the Height of the window not the width. Happened on IE, Chrome and Chrome for Android.

Unfortunately I can't reproduce it right now and I don't hav

[2018-07-07 17:34] Laul0 commented on #138
@VesaJuvonen could you set Responsive Label plz ?

[2018-07-07 17:39] Laul0 commented on #163
@VesaJuvonen could you set Responsive Label plz ?

[2018-07-07 17:39] Laul0 commented on #164
@VesaJuvonen could you set Responsive Label plz ?

[2018-07-07 17:39] Laul0 commented on #172
@VesaJuvonen could you set Responsive Label plz ?

[2018-07-07 17:39] Laul0 commented on #176
@VesaJuvonen could you set Responsive Label plz ?

[2018-07-07 17:39] Laul0 commented on #177
@VesaJuvonen could you set Responsive Label plz ?

[2018-07-07 17:40] Laul0 commented on #183
@VesaJuvonen could you set Responsive Label plz ?

[2018-07-07 19:15] Laul0 commented on #183
thx @wobba

[2018-07-10 13:02] ParvathySN opened #184 "Error = {"Field or property \"ExportMode\" does not exist."}"
I have tried to convert wiki page with list view from sharepoint 2013 to office 365 using sharepointpnp modernization framework.Its showing ex = {"Field or property \"Properties\" does not exist."}

[2018-07-10 15:04] jansenbe commented on #184
Can you explain what's on the wiki page? So assume it's a wiki page in SharePoint Online already containing some web parts and text and then you're trying to convert it? Would be good if you could also get the content from the page list item, specifically the "WikiField" field contains the content I want to look at.

[2018-07-10 15:16] ParvathySN commented on #184
The wiki page contains a list view webpart .The wikifield contains-<div class="ExternalClass326CCF42F2AE4E619991C49ADE7E3E9E"><table id="layoutsTable" style="width&#58;100%;"><tbody><tr style="vertical-align&#58;top;"><td style="width&#58;100%;"><div class="ms-rte-layoutszone-outer" style="width&#58;100%;"><div class="ms-rte-layoutszone-inner" aria-label="Rich text editor"><div class="ms-rtestate-

[2018-07-10 15:23] jansenbe commented on #181
Hmm...that should be it. This indicates that the created principal does not have the needed permissions. You did use the _appinv.aspx page on the tenant admin site as mentioned in the article?

[2018-07-10 15:29] jansenbe commented on #184
Just be clear: this only works in SharePoint Online using SharePoint Online CSOM...

[2018-07-10 20:53] RichBurdes1 commented on #181
Hi @jansenbe,
Yep - added
<AppPermissionRequests AllowAppOnlyPolicy="true">
  <AppPermissionRequest Scope="http://sharepoint/content/tenant" Right="FullControl" />
</AppPermissionRequests>

Hit the issue about only Tenant admins being able to approve, went to https://[tenant]-admin.sharepoint.com/_layouts/15/appinv.aspx looked up the app and trusted it - same issue.

i've attached some images illu

[2018-07-10 20:55] RichBurdes1 commented on #181
although trying to access https://[tenant]-admin.sharepoint.com/_layouts/15/appregnew.aspx throws an access denied error - even though I'm the tenant admin. Maybe by design?

[2018-07-11 06:00] jansenbe commented on #181
Looks like you did the right steps, you also granted Full Control using the permission XML in the docs?...even though it only "reads" data we need full control permission for the search component in combination with app-only.

Also assume this is a regular MT tenant?

[2018-07-11 07:15] ParvathySN commented on #184
So is it possible to convert SharePoint 2013 classic pages to office 35 classic pages (CSOM)?

[2018-07-11 09:14] jansenbe commented on #184
You need ISV migration tooling to first migrate the pages from your SP2013 to Office 365. Once in Office 365 you can use the page transformation tech to create "modern" pages for these migrated pages.

[2018-07-13 08:18] #184 closed

[2018-07-13 08:20] ParvathySN commented on #184
@jansenbe  Thank you very much for your support.

[2018-07-20 09:52] crogado commented on #137
I'm facing with the same problem on SharePoint2013. I downloaded the files from: https://github.com/SharePoint/PnP-Tools/tree/master/Solutions/SharePoint.UI.Responsive and the SharePointPnPPowerShell2013.msi tool from: https://github.com/SharePoint/PnP-Tools/tree/master/Solutions/SharePoint.UI.Responsive

TargetSiteUrl: http://dev/sitecollection/mysite/

Enabling responsive UI on target site
Enabl

[2018-07-24 16:10] ParvathySN commented on #184
Hi @jansenbe

Could you please tell where we can change the destination folder `Site Pages´ to any other folder

[2018-07-25 06:43] ParvathySN opened #185 "Changing destination folder"
I am using sharepoint pnp tool to convert classic pages to modern pages in office 365. Is it possible to change the destination folder to any other library. Currently pages are copied to Site Pages.

Thanks in Advance
Parvathy

[2018-07-25 06:46] wobba commented on #185
Modern pages currently only support to be stored in `Site Pages`.

[2018-07-25 06:46] #185 closed

[2018-07-25 11:35] vaibhavgg opened #186 "Issue with search suggestion in C# code using Search Query Tool (PSSQT) DLL."
I am trying to use the DLL, that is part of the Search query tool for SharePoint for getting the ‘search suggestions’ from SharePoint Online search.

I am trying to get the suggestions using following code, but it is giving me the ‘Access denied’ error. I have already checked that the account credentials I am passing to it has admin access at tenant level as well as at SC level.

_SearchSuggestion

[2018-07-25 14:07] wobba commented on #186
@trevis62 do you have any ideas?

[2018-08-01 10:34] wnzn opened #187 "Search Query Tool - View all properties blank screen"
I'm having identical problems as in issue #152. V2.8.0.0 on Windows 10 (1709)

[2018-08-01 11:37] wnzn commented on #187
Issue persist when using V2.8.1.0

[2018-08-01 11:48] wobba commented on #187
@wnzn Which login method are you using? 2.81 on non-domain joined Windows 10 works for me with "SharePoint Online Management" login.

[2018-08-01 12:53] wnzn commented on #187
I'm also using the "SharePoint Online Management" login. My machine is domain-joined but I'm currently outside the perimeter. Don't know if it's related, but it appears to work for .aspx pages but not for .docx or .xlsx documents.

[2018-08-01 13:20] crogado opened #188 "Enable-PnPResponsiveUI : Value does not fall within the expected range - SharePoint 2013"
I'm facing with THIS problem on SharePoint2013. I downloaded the files from: https://github.com/SharePoint/PnP-Tools/tree/master/Solutions/SharePoint.UI.Responsive and the SharePointPnPPowerShell2013.msi tool from: https://github.com/SharePoint/PnP-Tools/tree/master/Solutions/SharePoint.UI.Responsive

TargetSiteUrl: http://dev/sitecollection/mysite/

Enabling responsive UI on target site
Enable-Pn

[2018-08-01 13:52] wobba commented on #187
Take a look at https://www.techmikael.com/2014/03/debugging-managed-properties-using.html or my re-index script which enables the props to be available for a list/lib.

[2018-08-01 14:41] ParvathySN opened #189 "Contact or People webpart"
Do we have any mapping solution to convert contact webpart to modern people webpart in office 365.

Thanks
ParvathySN

[2018-08-02 15:44] trevis62 commented on #186
Hi,

Sorry for late response.

I don’t see anything immediately, but you should try using AuthenticationType.SPOManagement instead.

It will pop up the login window and prompt for credentials.

You can also try to connect using connect-msolservice first and then try to run your code. Still change it to AuthenticationType.SPOManagement though.

Frode

From: Mikael Svenson <notifications@github.com>

[2018-08-03 06:37] wnzn commented on #187
I'll try that one out, thanks 👍

[2018-08-03 12:15] jansenbe commented on #189
Assume you're talking about Microsoft.SharePoint.Portal.WebControls.ContactFieldControl? Currently no mapping has been defined, but will look into this for the next release

[2018-08-16 11:14] ParvathySN opened #190 "Image webpart in office 365"
Hi all

Do we have any option to add link to an Image in jsoncontroldata like clickable image?

Thanks in Advance
Parvathy

[2018-09-12 15:44] syberslick opened #192 "UserProfile.MIMSync is not able to create a 2nd connector for 2nd AD Forest."
I'm trying to use this script to setup MIM2016 and it works fine for my first AD Forest but when I try to run it again to add my other AD Forests into MIM, it errors out.  We have 5 AD Forests due to company migrations and I need to sync them all.  This script is awesome but only awesome if you have 1 AD Forest.  Is it possible to change it to work with multi forest setup?

[2018-09-13 15:57] harbars commented on #192
Yes, the intent is to include multi-forest support in the future. However this means a substantial reworking of the toolkit as it currently stands, so we are still in the planning stages for this.

Hth
s.

From: syberslick <notifications@github.com>
Sent: 12 September 2018 16:45
To: SharePoint/PnP-Tools <PnP-Tools@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
Subject: [SharePo

[2018-09-18 22:29] edixon-github opened #193 "Using the Include Rank Detail check box in combination with the Select Properties field hangs client"
After adding custom Select Properties, enabling the Include Rank Detail option will cause the client to hang.

[2018-09-19 07:17] wobba commented on #193
Fixed in the code base - and will be included next time we create a release.

[2018-09-19 07:17] #193 closed

[2018-09-19 10:16] TeacherMagnus opened #194 "Guest accounts with ADFS login will give Invalid audience"
When logging in to a Office 365 tenant with a Guest account that is using ADFS the audience will get invalid.

![skarmklipp](https://user-images.githubusercontent.com/24525192/45747319-c291e600-bc05-11e8-9b21-c95e6f24e401.PNG)

[2018-09-19 12:56] wobba commented on #194
@TeacherMagnus I have no clue on ADFS myself and auth really, so would appreciate any pointers. If this is ADFS and SharePoint Online, try the SP online login instead.

[2018-09-19 13:27] TeacherMagnus commented on #194
Oh Sorry!

I am using SharePoint online, and therefore I choose the “SharePoint Online Management” auth method.

I am using an account that authenticates to our own ADFS server.

When I use the tool in our own tenant everything works as expected, but then I am invited in one of our customers tenant so when I’m trying to use my account that belongs to Azure AD “A” as a guest user in tenant “B” then

[2018-09-20 17:17] maouinati opened #195 "Enable-PnPResponsiveUI error"
Hi,

I have error when i use Enable-PnPResponsiveUI in SP16

Enable-PnPResponsiveUI : La méthode « GetFileByServerRelativePath » n’existe pas.
At line:1 char:1
+ Enable-PnPResponsiveUI
+ ~~~~~~~~~~~~~~~~~~~~~~
    + CategoryInfo          : WriteError: (:) [Enable-PnPResponsiveUI], ServerException
    + FullyQualifiedErrorId : EXCEPTION,SharePointPnP.PowerShell.Commands.Branding.EnableResponsiveUI

[2018-09-21 05:57] lfcjohn commented on #151
We have similar issue happened, the mobile view only visible on desktop when browser shrink. But when i view at iPhone8+ it will show the desktop view (3 column instead). I even try to increase media pixel to 3000px but iPhone still display as 3 column.

[2018-09-21 07:33] Laul0 commented on #151
Hi,

The metadata `viewport` is added via JavaScript.

From which solution (**PnP-Tools** or **PnP-Sites-Core**) have you deploy the responsive solution ?

[2018-09-21 07:38] Laul0 commented on #195
Hi @maouinati,

I have to ask you some questions to be sure to understand :
1. From which repo/solution did you deploy the Responsive Solution (PnP-Tools or PnP-Sites-Core) ?
2. Because you have a SP2016 version, did you download the good PowerShell in accordance with your version ? (you have 3 PowerShell package)

[2018-09-21 07:43] lfcjohn commented on #151
Thanks, i'm not quite sure which one deployed (from our IT team), however, it seems it just didn't load the script and i need to add those coding at the page itself.

However, the navigation button is disappear when i view at mobile but for desktop it works (should loading from SP-Responsive-UI.css

[2018-09-21 08:31] maouinati commented on #195
Hi @Laul0

1.I deploy from repo "PnP-Tools-master\Solutions\SharePoint.UI.Responsive".
2. for the powershell, I chose the good one.

thank you for your help

[2018-09-27 10:03] JBeerens commented on #179
If you build the solution in 4.6.1 or earlier you will get security protocols ssl3 and tls (1.0). You can check it at the SevicePointManager.SecurityProtocols. If you build in 4.6.2 or later it will return tls, tls11 and tls12.

[2018-09-27 11:13] wobba commented on #179
@JBeerens thank you, I'll update the target framework to 4.6.2 or higher

[2018-10-05 06:30] jansenbe commented on #181
Closing due to no response

[2018-10-05 06:30] #181 closed

[2018-10-05 08:09] andikrueger commented on #192
You can have a look at this issue: #10 I did rework the current script to be able to use it with multi-SPFarms.

[2018-10-05 10:11] wobba commented on #187
@wnzn did you resolve your issue?

[2018-10-05 10:13] wobba commented on #186
@vaibhavgg did you resolve your issue?

[2018-10-05 10:41] #179 closed

[2018-10-05 10:41] wobba commented on #179
@jvineeth can you re-test with 2.8.2?

[2018-10-05 10:41] wobba commented on #180
Re-added web auth method

[2018-10-05 11:08] wobba commented on #194
@TeacherMagnus can you re-try with the web login in v2.8.2?

[2018-10-08 19:47] TeacherMagnus commented on #194
Hi!

Thanks! This works for me now.

Från: Mikael Svenson <notifications@github.com>
Skickat: den 5 oktober 2018 13:09
Till: SharePoint/PnP-Tools <PnP-Tools@noreply.github.com>
Kopia: Magnus Jansson <magnus.jansson@jason.pp.se>; Mention <mention@noreply.github.com>
Ämne: Re: [SharePoint/PnP-Tools] Guest accounts with ADFS login will give Invalid audience (#194)

@TeacherMagnus<https://github.com/T

[2018-10-08 19:52] #194 closed

[2018-10-16 18:44] mmuldoon1 commented on #187
Same issue.  View all properties yields blank screen.

[2018-10-16 19:56] wobba commented on #187
I might reimplement how that function works for SPO as new API's have been added - but might be a while until I have the time.

[2018-10-16 22:34] mmuldoon1 commented on #187
Thanks very much for the reply!

On Tue, Oct 16, 2018 at 3:56 PM Mikael Svenson <notifications@github.com>
wrote:

[2018-10-18 06:44] wobba commented on #187
I've made a v2.8.3 pre-release at https://www.dropbox.com/s/fhbvisiv8j9cfad/SearchQueryToolv2.8.3.zip?dl=0 Could you guys try it out? @mmuldoon1 @wnzn

[2018-10-18 08:16] wnzn commented on #187
@wobba Thanks for the effort you are putting into this. I tried multiple times with the scripts but this doesn't seem to resolve the issue. I have downloaded and tried connecting with the v2.8.3 but I'm seeing
407 Proxy Authentication Required (for the SPO App Id method) and Authentication failed (for the web login method). I'll try with some other tenants later today.

[2018-10-19 19:44] wobba commented on #187
@wnzn login is not easy it seems for some cases. What error do you get with web auth?

[2018-10-22 02:15] 545034298 opened #198 "SharePointPnP.Modernization.Framework\Transform\PageTransformator.cs missing page data handler for PublishingPage type pages"
We have multiple SharePoint online pages and the SharePoint Online publishing pages feature was enabled. When we use either .NET version(https://github.com/SharePoint/PnP/tree/master/Samples/Modernization.PageTransformation ) or PowerShell version(https://github.com/SharePoint/PnP-Tools/blob/master/Solutions/SharePoint.Modernization/Scripts/PageTransformation/TransformPageSample.ps1) page transfor

[2018-10-22 06:26] jansenbe opened #199 "Add a better error message describing publishing pages are not (yet) supported in page transformation"

[2018-10-22 06:51] 545034298 opened #200 "SharePointPnP.Modernization.Framework\Transform\PageTransformator.cs missing handler to get page data for PublishingPage type pages"
_I already reported the same issue with ID 189, but I'm not sure why after submitted the issue, I can't find out the issue by URL https://github.com/SharePoint/PnP-Tools/issues/198 , so re-submit the issue._

We have SharePoint Online environment with SharePoint Server Publishing feature enabled. When we do page transformation by using either of below solution

- .NET version sample page transform

[2018-10-22 09:00] jansenbe commented on #198
Hey Qinyuan,

The page transformation framework currently does not support publishing pages. This is something we have on our roadmap for early next year. In the meantime I'll add a more descriptive error message. Thanks for raising this.

[2018-10-22 16:32] jansenbe commented on #199
Implemented

[2018-10-22 16:32] #199 closed

[2018-10-22 16:33] jansenbe commented on #198
Support for a clean error message was added, closing this one for now

[2018-10-22 16:33] #198 closed

[2018-10-25 13:11] cnesmark commented on #179
I had the same problem, and just tested 2.8.0 vs 2.8.2, and your fix worked, @wobba :)

[2018-10-25 17:41] jansenbe commented on #200
Thx for the feedback. I've added a more clear error message for this case. Going forward we're looking into offering support for publishing pages, timing most likely will be early next year.

[2018-10-26 18:29] mmuldoon1 commented on #187
@wobba.  I installed v2.8.3  This resolved my problem with the all properties page being blank.  Thanks very much!

[2018-10-28 19:15] Laul0 commented on #195
Hi @maouinati,

I just tried with the latest version of cmdlet PowerShell and I can't reproduce your issue.
Your issue still true ? Did you try the latest version of PowerShell cmdlet ?

[2018-10-29 17:56] edixon-github opened #202 "Passing URL parameters"
Please add the ability to pass custom URL parameters with the constructed REST API call.  Query Rules and Query Template values can be set based on a URL parameter.  It would be nice to be able to test those from the tool.

[2018-10-31 08:02] wobba commented on #202
This adds into this change as well https://support.microsoft.com/en-us/help/4469277/sharepoint-online-search-will-not-return-private-onedrive-results where other random props should be supported as well.

[2018-11-02 12:48] jansenbe opened #203 "Support image link transformation"
Current version of the modern image web part does support setting a link on the image. Implement to support img tag wrapped inside an a tag.

[2018-11-02 12:49] #200 closed

[2018-11-02 14:43] JasonHough75 opened #204 "MIMSync - ADLDS"
Hi there,
We are trying to use this tool to get UPS sync from ADLDS. WE have installed and working the generic ldap connector. We need the connector (i.e this powershell work) to connect to SharePoint UPS with this info. but we do not have the settings that are needed :

We dont have forestDNSName because it is ADLDS.. The forest that the users are in are in a different name (thats why we have AD

[2018-11-02 17:02] harbars commented on #204
If you are using the Generic LDAP Management Agent (aka Connector) you are much better off manually configuring it. The toolkit was only intended to configure the AD MA in attempt to replicate the default configuration of UPS in SP2013.  There are no plans to make a version of the toolkit which supports AD LDS.

It is best practice to always specify a dedicated account for each connected data sour

[2018-11-02 18:42] jansenbe opened #205 "Replace dl, dt and dd tags with indenting"

[2018-11-08 14:34] ParvathySN opened #206 "Copying modern pages to different site collection"
Is there any method to copy modern pages from sitepages in one site collection to different site collection in office 365. (client side code)
Thanks

[2018-11-09 12:15] #206 closed

[2018-11-10 09:07] #187 closed

[2018-11-11 22:29] hikmatune opened #207 "I am getting "Page is an basic aspx page...can't transform that one, sorry!""
Any idea why am I getting this message? "Page is an basic aspx page...can't transform that one, sorry!"

[2018-11-12 07:57] jansenbe commented on #207
Hi @hikmatune,

There's 4 kind of pages in SharePoint Online:
- Wiki Page (supported)
- Web Part page (supported)
- Publishing page (will be supported in the future, next year)
- Basic html pages (aspx)...currently not supported

The problem with plain aspx pages is that SharePoint will simply render the page html (at least if you have the Add and Customize Pages permission), modernization can not

[2018-11-12 08:30] hikmatune commented on #207
Thanks @jansenbe!!!
I was copying the classic page to a new list using System.Net.WebClient. Then I was trying to convert the page to modern page in the new library, but didn't work.
I just figured it out if I convert the page first then copy it works!

[2018-11-12 09:08] jansenbe commented on #207
Cool. Yes, the conversion is "in-place". Being able to create the converted page in a new site collection is something that we'll be looking at together with the publishing page support. Closing this issue now.

[2018-11-12 09:08] #207 closed

[2018-11-26 04:44] rajashekarusa opened #208 "Unable to transform classic page into modern page using PowerShell"
Hi Team,

Followed below steps to transform classic page into modern
1. I have downloaded the PowerShell binary files from https://github.com/SharePoint/PnP-Tools/tree/master/Solutions/SharePoint.Modernization/Scripts/PageTransformation
2. Since there is no webpartmapping.xml file in downloaded binary zip file, I have copied same file from https://github.com/SharePoint/PnP-Tools/tree/master/Soluti

[2018-11-27 05:03] rajashekarusa commented on #208
Hi Bert,

As you suggested, I have tried XSLTListview web part and it successfully transformed using default webpartmapping.xml file.

Followed above mentioned steps, now able to transform script editor and content editor web parts into modern successfully.

Thanks for your help and quick response.

Thanks,
Raj

[2018-11-27 05:03] #208 closed

[2018-12-11 15:47] Laul0 commented on #183
Hi @synergy-rcalingan, the new version was merged.
If this version fix your issue, could you close it ? Thx

[2018-12-11 15:50] Laul0 commented on #138
Hi @igorb90 !
The new version was merged! 💪🏻
If this version fix your issue could you close it ?
If you find other issues, don't hesitate 😉

[2018-12-12 09:16] igorb90 commented on #138
Hi @Laul0 ,
great news!
I'm using it in production now and it works very good :)
Thanks a lot for your awesome work!

[2018-12-12 09:16] #138 closed

[2018-12-28 09:08] Laul0 commented on #133
Hi @Ahmad-Gad
A new version of PnP Responsive UI was released and merged.
This new version should fix your issue about the no responsive site content of classic site.

[2018-12-28 09:12] Laul0 commented on #151
Hi,

A new version of PnP Responsive UI was released.
If you are still facing to this issue, could you try the latest version ?

[2019-01-07 17:53] PBhardwaj1981 opened #209 "Responsive UI is breaking as of this morning."
I am facing exactly same issue as this one  https://github.com/SharePoint/PnP-Tools/issues/210

[2019-01-08 08:19] Laul0 commented on #209
Could you precise :
1. Version of Responsive UI
2. Your environment (Online, On-Premise 2013/2016)
3. Type of SP Site.

Tested on my environment and still working fine.

[2019-01-08 10:49] Gennady-G opened #210 "Something changed in SharePoint Online, #navbar-toggle is now visible on Publishing Pages.."
Hi!

Strange behavior on two tenants - small button ('#navbar-toggle') appeared on left top (on 24" display):

![2019-01-08_140112](https://user-images.githubusercontent.com/5569346/50826065-24609200-1354-11e9-843c-f2de53facdc0.png)

![2019-01-08_143535](https://user-images.githubusercontent.com/5569346/50826070-29bddc80-1354-11e9-9116-158dd097acc4.png)

![navbar](https://user-images.githubusercon

[2019-01-08 12:38] Laul0 commented on #210
Hi @Gennady-G, did you try the latest version of Responsive UI tool ?

[2019-01-08 13:22] Gennady-G commented on #210
Hi @Laul0 ! Thank You for response.

No, I haven't notice that there was update from 9 Dec..
I'll try on test tenant and keep You poisted

[2019-01-14 10:48] pkrsingh86 opened #211 "Classic to Modern Page Migration - Issue"
Hello @jansenbe
There are issue in migrating the classic page to modern using .Net based SharePoint PnP Modernization framework.

I get below error. It is random, sometimes i get this error and sometime not. Tried 'Include(WelcomePage)'.Nothing works. Any suggestion please

**Error Description:**
The property or field 'WelcomePage' has not been initialized. It has not been requested or the request

[2019-01-14 14:17] Gennady-G commented on #210
Great work, @IvanTheBearable !

Tested in dev environment. Looks like You workaround helps, *.css is loaded with this change in  sp-responsive-ui.js:

`                    var responsiveScripts = document.querySelectorAll("script[src*='sp-responsive-ui.js']");`

[2019-01-14 23:51] synergy-rcalingan commented on #183
Thanks guys, more power!

[2019-01-14 23:57] synergy-rcalingan commented on #183
It looks like the issue still exist. When the browser is opened and developer tools toggle device is clicked, the responsive behavior is working, however, when the page is refreshed, the site shows as if it is on a larger breakpoint maybe around 768px. See screenshot below:
![image](https://user-images.githubusercontent.com/40842309/51149011-3a61db80-189b-11e9-8d92-df43a821a1d1.png)

[2019-01-16 22:35] naijacoder commented on #138
Hi All,
I'm facing the same issue.. where can I download the fix?

[2019-01-18 09:40] Laul0 commented on #138
Hi @naijacoder, the new version was released in December.

You can download it directly from the repo [Responsive-UI](https://github.com/SharePoint/PnP-Tools/tree/master/Solutions/SharePoint.UI.Responsive).

[2019-01-22 18:45] PBhardwaj1981 opened #212 "Video with responsive UI do not work"
I have SharePoint online tenant and I have installed responsive UI few site collections. Video's are not responsive on  iOS.

Anyone has any solution?
I tested and it has noting to do with my CSS. I tried on out of the box SharePoint site without any customization and with responsive UI installed.

[2019-01-22 21:05] Laul0 commented on #212
If you're using Stream, select the responsive feature :

<img width="799" alt="screenshot 2019-01-22 at 21 59 04" src="https://user-images.githubusercontent.com/15279205/51565271-dbe7bf00-1e91-11e9-88cc-31ba4670ac7f.png">

[2019-01-28 10:16] vaibhavgg commented on #186
Hi Mikael,

Thanks for your reply.
I tried with latest version of the DLL, but still facing same issue.
AuthenticationType.SPOManagement is not feasible for me as we can not prompt end users to enter the credentials as they are already authenticated with SSO.

Probably some small piece of code I am missing, as this same code works perfect for SP on premises (with appropriate auth type).

[2019-01-28 14:37] wobba commented on #186
@vaibhavgg there are no samples except the source code itself. The query tool uses REST for calls, but you should be able to use CSOM as well.

[2019-02-08 14:38] Benoit-Bernardin opened #215 "Responsive not working on SPO on some users"
Hi,

I installed the responsive UI a few weeks back with no issue (i did the fix regarding the script URL sue to MS change at the end of 2018).
Everything is working fine with the SharePoint Admin account.
![responsive as spadmin](https://user-images.githubusercontent.com/27773719/52484334-5a44a080-2bb6-11e9-8af9-2359c26fa34e.png)

But it is not working with a "End-User" account
![responsive as en

[2019-02-08 14:41] Benoit-Bernardin commented on #215
I forgot to mention, the same behaviour is observed using Chrome or IE or Edge in normal mode or privacy mode, even with a cleared cache.

[2019-02-08 15:34] Benoit-Bernardin commented on #215
I found the issue, sorry to have raise an issue: for some weird reason, I was not getting the same version of js file with the admin and the end user. Both CSS and JS where in minor version 1.1 so I was getting 1.1 with my admin account and 1.0 with the end user account. The strange thing is this is the live environment where I only deployed the fixed version.
Anyway the issue was fixed by reuploa

[2019-02-08 15:34] #215 closed

[2019-02-08 18:20] IvanTheBearable commented on #215
The “Draft Item Security” setting under the library versioning settings controls who can see minor versions. The default is the editor and people with approval permissions only.

[2019-02-11 08:48] #209 closed

[2019-02-13 15:21] babygiglio72 opened #217 "Metadatada navigation and date filter"
SharePoint 2016 and PnP responsive js referenced, user are unable to work with key filters of date field type, as errors are thrown
![metadataandfiltering](https://user-images.githubusercontent.com/47603092/52722185-690ec700-2fab-11e9-8362-f7681d130d47.png)

[2019-02-14 02:13] BrookeKT opened #218 "SharePoint server 2019"
Can I use the 2016 script for 2019?

[2019-02-14 15:24] jerryyasir commented on #218
I tried the scripts on a 2019 Farm and it works without any problem.  I was able to create site collections using Tenant class.

[2019-02-14 16:50] craig-martin commented on #192
Is there good PowerShell or API coverage to do CRUD operations on user profiles in SharePoint yet?  If so I can reword this solution to depend on the ActiveDirectory PowerShell module instead of MIM Sync.  Last I checked (2015?) it was not obvious.

[2019-02-17 10:40] harbars commented on #192
Unfortunately, not really.

Sadly there are no changes to the core User Profile subsystems since the SP2016 release, thus we have two supported options:

  1.  The User Profile Import Export Web Service – legacy ASMX – this is what the SP MA uses itself and is the “recommended” extensibility point, despite numerous fundamental flaws and bugs.
  2.  UserProfileManager – SSOM – not fully documented

[2019-02-17 15:44] craig-martin commented on #192
Thanks for the reply!

MIM is complex and overkill for this scenario, I was wondering if something smaller would be worthwhile.  Based on this, sounds like it isn't worth doing:

[2019-02-22 10:56] sawyerr44 opened #219 "Microsoft updates to the O365 Sute Bar"
Hi,

Microsoft have applied updates to the O365 suite bar this week. The updates mean that the collapsed navigation no longer appears (in the top left). In addition, the ellipsis button (displaying alarms, settings, etc) that appears in the suite bar reloads the page when clicked.

Note: You need to reduce your browser window to see this change.

Regards

Rob

[2019-03-04 13:18] pandiarajank opened #220 "Please replace Froce with Force "Enable-SPResponsiveUI.ps1""
Line number: 70.. please replace Froce with Force. Thank you

[2019-03-10 16:45] #220 closed

[2019-03-14 10:30] welshboyo opened #222 "Responsiveness behavour does not work in IE 11 for sunbsites"
We activated responsiveness on our SP2016 on premises installation.  Which I understand should work for all sub sites within the site collection.  This is the case in Edge and Chrome but we are having issues within IE 11 which is our selected browser.

the top lecvel site when viewed in the IE11 is responsive but the child sites are not but are in the other browsers.

Thank you for any help

[2019-03-23 00:06] IvanTheBearable commented on #151
Yes, I still have this issue. The problem is with all iPhones with a devicePixelRatio of 2. The latest devices, like the X, with a device pixel ratio of 3 are fine. The issue is with this code in the **addViewport** function in _SP-Responsive-UI.js_:

[code]
The question is, why is that code there at all and what will happen if the initial scale is set to 1.0 for all devices?

It appears to have b

[2019-03-28 14:43] Laul0 commented on #217
Hi @babygiglio72
This case is in responsive mode or desktop?

[2019-03-28 15:22] babygiglio72 commented on #217
In desktop mode.

From: Laul0 <notifications@github.com>
Sent: giovedì 28 marzo 2019 15:43
To: SharePoint/PnP-Tools <PnP-Tools@noreply.github.com>
Cc: Barbara Falchi <bfalchi@greenteam.it>; Mention <mention@noreply.github.com>
Subject: Re: [SharePoint/PnP-Tools] Metadatada navigation and date filter (#217)

Hi @babygiglio72<https://eur01.safelinks.protection.outlook.com/?url=https%3A%2F%2Fgithub.c

[2019-03-30 20:33] Laul0 commented on #210
Hi @Gennady-G
A new version of ResponsiveUI was released. This new version fix your issue? If yes, could you close your issue? Thx

[2019-03-30 20:40] Laul0 commented on #151
Hi @IvanTheBearable
I added the ratio management because of retina screens of iPhone.
When I implement this improvement, I used an iPhone with retina screen and I had to Zoom out systematically on each page after load because of the resolution. Change the ratio allow to have directly the good size.
Maybe it is not necessary anymore, I will check.

Just be careful if you use Chrome for your tests b

[2019-03-31 13:26] Gennady-G commented on #210
Hi @Laul0 !
As I see in [source ](https://github.com/SharePoint/PnP-Tools/blob/master/Solutions/SharePoint.UI.Responsive/SP-Responsive-UI.js)- Yes, selector is changed

Closing. Thank You!

[2019-03-31 13:26] #210 closed

[2019-03-31 20:32] IvanTheBearable commented on #151
Yes, I tested this several real devices and several more simulators. In fact, I actually implemented the fix for this on the version of the code I use on customer systems over a year ago - then forgot about it.

I suspect there may have been a bug in the early implementation retina support in iOS that has since been fixed. I have a vague memory of early confusion about how the scaling working on r

[2019-04-08 09:49] #219 closed

[2019-04-13 22:11] Laul0 commented on #222
Hi @welshboyo, did you see from the documentation this information?: _"However, if you want to leverage the Responsive UI on all the sub-sites of the target Site Collection, you will have to disable the "Mobile Browser View" for those sub sites, as well."_

[2019-05-03 11:22] #186 closed

[2019-07-11 14:49] pradeepkothamale opened #228 "Responsive UI for SP 2016 Error"
I had download the responsive script and run the below PowerShell and I get below error.
**PowerShell:** .\Enable-SPResponsiveUI.ps1 -TargetSiteurl https://XYX/SiteColl

Environment is SharePoint 2016 On premise and it uses claims based authentication. I had installed SharePointPnPPowerShell2016 module before running powershell script. Any idea why i am facing this error?

**ERROR**
Exception Type

[2019-08-28 01:03] russgove opened #229 "SearchQuery Tool Export to Excel/CSV"
Hi, I'm looking for a way to export seacrh results to excel. Would be great if the search query tool could do that.

[2019-09-26 12:24] EagleWizard28 opened #231 "Authenticate using specific user - SharePoint Online Web login doesn't show login dialog"
I would like to connect to a SharePoint online environment of a customer using the **v2.8.4**.
To do this under "Connection" I select the "Authenticate using specific user account" authentication and as authentication method use "SharePoint Online (Web login)".
I expect to see a dialog where I can input my credentials, but I get a dialog that the operation has failed showing the username of my own

[2019-09-26 15:56] wobba commented on #231
It's still there, just renamed to "App id"

[2019-09-26 15:56] #231 closed

[2019-10-24 10:10] #151 closed

[2019-11-21 09:49] psl2806 opened #234 "Install-SharePointSyncConfiguration error with SynchronizationRyulesExtensions.cs"
The Install-SharePointSyncConfiguration scripts gives an error
Add-Type : C:\SharePointSync\SynchronizationRyulesExtensions.cs(31) : Unexpected character.
![image](https://user-images.githubusercontent.com/22769245/69326306-d858cc00-0c4b-11ea-96a1-ffe28967609d.png)
And the input for the install script

![image](https://user-images.githubusercontent.com/22769245/69326640-6f258880-0c4c-11ea-81b1-81a

[2020-01-02 08:01] rudfoss opened #239 "Search Query tool cannot sign in to SPO (The page does not support Internet Explorer releases older than version 10)"
I'm trying to use the Search Query Tool with SharePoint Online to debug some search queries, but I'm unable to sign in using `Authenticate using specific user account` and `SharePoint Online (web login)`. I can click the Sign-in button and enter my credentials, but once I do I'm only returned to an error page that tells me "The page does not support Internet Explorer releases older than version 10

[2020-01-02 10:06] wobba commented on #239
Web login is a pita as it relies on the web browser control via IE, so I highly recommend using *SharePoint Online (App Id)" as the login method. Does this help?

[2020-01-02 11:33] rudfoss commented on #239
@wobba Yup, App id login works so I'll just use that. Just curious why it seemd to default to something that is older than IE 10?

[2020-01-02 11:36] wobba commented on #239
Beats me. It's the .Net web browser control which pulls in an IE ActiveX control. My guess is it picks IE11 if you have Win10, and the error message is just wrong :)

The other issue with web login is if you log in to different tenants, as there is no way to ignore cached credentials in the control (it worked up until some Win10 release). I did remove the option at one time, but added it on reques

[2020-01-02 11:36] #239 closed

[2020-01-02 11:37] rudfoss commented on #239
@wobba Ok, I'm perfectly happy with the App Id solution so I'm fine with closing this. Thanks for the quick reply.

[2020-01-09 17:09] ldusolier opened #240 "SharePoint Search Query Tool v2.8.5"
Trying that version but the Run button is not doing anything, or at least that seems to be the case, additionally no button to sign-in within the Connection section either, any ideas?

[2020-01-09 17:26] wobba commented on #240
Please share if onprem/spo and what auth method you are using. Also, did it work with previous versions?

[2020-01-09 17:29] ldusolier commented on #240
Trying to connect to a site in SharePoint Server 2016, Yes I used the tool in the past maybe couplke of years ago...
And yesterday had a call with a Customer they are having issues with Search and understanding why keywords are not working as they expect, I suggested the tool and when demo’ing the Run button didn’t do anything... what are the pre-requisites or dependencias?

Thanks!

Sent from Mai

[2020-01-09 19:30] ldusolier commented on #240
I don't see the sign-in button to try to authenticate

[2020-01-10 01:34] ldusolier commented on #240
Am I supposed to see the sign-in button just after loading the client?

[2020-01-10 07:27] wobba commented on #240
That depends on the auth method. It shows when it should show and we need to fetch an access token to be used. For other scenarios, enter something in the search text field and hit run.

[2020-01-20 10:46] RobertHoegner opened #241 "Getting No Primary Results"
I am getting a the following status, but no primary results. Also the query takes really long to run - any ideas? I have of course marked the checkbox for primary results in the advanced settings section.
HTTP/1.1 200 OK
	Serialized Query:
<Query Culture="en-US" EnableStemming="True" EnablePhonetic="False" EnableNicknames="False" IgnoreAllNoiseQuery="True" SummaryLength="180" MaxSnippetLength="180

[2020-01-20 11:41] wobba commented on #241
@RobertHoegner  Can you check the raw tab for any information? I had another similar issue the other day, but have not been able to reproduce it.

Can you test to set the query to XML and perhaps use POST instead of GET in the *Connection* pane to see if the experience is the same?
![image](https://user-images.githubusercontent.com/51104/72723935-3a697b00-3b82-11ea-89d9-9c1022ceb3ec.png)

[2020-01-20 11:44] RobertHoegner commented on #241
thanks for the lightning fast reply @wobba "POST" did the job :) how come we need a post request here? JSON/XML works both just fine

[2020-01-20 13:01] wobba commented on #241
So some issue with GET - question is why that matters. Can you compare the RAW reply for both?

[2020-01-20 13:30] RobertHoegner commented on #241
I actually cannot reproduce it anymore... it works both ways now. I kinda feel a bit stupid now - haha.

Thank you for your quick assistance! @wobba

[2020-01-20 13:30] #241 closed

[2020-01-20 13:51] wobba commented on #241
@RobertHoegner if it appears again please re-open this issue, in case there is some weird parsing error when rendering the results.

[2020-01-22 17:23] pjblecha opened #242 "Can't install offline"
Is there any way someone could put together a comprehensive list of all necessary tools and packages needed to install this offline? My SharePoint instance is on a private network and I can't connect it to the internet. At. All.
Thanks.

[2020-01-22 18:50] wobba commented on #242
Could you specify which solution/tool you are asking about?

[2020-01-29 02:29] hanielc opened #243 "Unable to download"
The site has been flagged as malicious by Google.  We should figure out if there's something to it and if not, have it removed from the blacklist.

[2020-01-29 06:59] wobba commented on #243
Can you expand on your issue @hanielc?

[2020-01-29 16:54] FrapsyOnGithub opened #244 "Unable to search people in calendar list with Reponsive-UI"
Hi.
I have created a calendar application and add a people picker multiselect.
In newform and editform I can directly validate the name of a user. However, when I click on the browse icon, the search returns no results.

Am i the only one having this problem ?

[2020-01-30 11:09] wobba commented on #244
@FrapsyOnGithub which solution is the question target to?

[2020-01-30 13:13] FrapsyOnGithub commented on #244
hi, it's on the [UI Responsive solution](https://github.com/SharePoint/PnP-Tools/tree/master/Solutions/SharePoint.UI.Responsive)

[2020-01-30 15:47] pjblecha commented on #242
Sure, I thought that was obvious since I'm on the PnP-Tools site. I installed the SharePointPnPPowerShell2016.msi and then I was using the directions found here[https://social.technet.microsoft.com/wiki/contents/articles/36862.sharepoint-2016-how-to-implement-responsive-ui.aspx](url) to try to install the SharePoint.UI.Responsive namespace to my site collection. The error I receive indicates that

[2020-01-30 16:21] pjblecha commented on #242
Got it! I figured out the issue and got it to work. The solution was:

Install the SharePointPnPPowerShell2016.msi from within the PowerShell window that is running as the context of your farm administrator (i.e., the SharePoint Management Shell, Run as Administrator, log in as your farm admin account, then run the MSI from command line); when it launched the installer, click the Advanced button,

[2020-01-31 17:45] hanielc commented on #243
Hi Mikael, thank for your reply.  When I try to download the release, the download was blocked by various browsers.  However, once I added Git as a safe URL, then it worked.  I wonder if it's generally a GIT thing or specific to this solution.  Apologies, but I don't download much from this site.

[2020-01-31 17:48] #243 closed

[2020-02-11 08:56] DawidB opened #245 "Web login authentication error (IE version)"
I have Windows 10 with IE 11, but SQT gives me an error when trying to login usin "Sharepoint online (web login)" method:
"Error: This page does not support Internet Explorer releases older than version 10. Please update your web browser. "

Username and password are valid in the browser.

Edit: Turns out "App id" method with the same credentials works fine. What's the difference between the two?

[2020-02-11 16:05] wobba commented on #245
Using the web login is weird for certain setups, and yes, they are different. Using appid is a safer approach as it doesn't look at what ever single sign-on etc you might have on your machine.

The issue with web login is related to the web browser control using IE11 behind the scenes opening up whatever page it's redirected to, using cookies you might have. Nothing really we can do today as long

[2020-02-11 16:05] #245 closed

[2020-02-18 08:56] SabbeRubbish commented on #239
I would suggest removing the old login method then as the AppId workaround works the exact same way for the end user.

[2020-02-18 12:28] wobba commented on #239
@SabbeRubbish  I did that in some version back, and people complained, so I brought it back. I use the weblogin myself for the Microsoft tenant, as it works perfect for domain joined PC's using that one tenant. Saves you from entering the credentials every time ;)

[2020-02-18 12:30] SabbeRubbish commented on #239
Then maybe somehow hint the user in the UI which one to use :-)
Because now it sounds like the AppId requires an app registration, clientId/clientSecret, but it's actually just a different approach to interactive login.
Anyway, just a suggestion :)

[2020-02-18 12:42] wobba commented on #239
I'll reword the button text ;) (again)

[2020-02-18 12:51] SabbeRubbish commented on #239
Haha :) Thanks!

[image: Sebastiaan Mindreau on about.me]

Sebastiaan Mindreau
about.me/sabberubbish

<http://about.me/sabberubbish>

On Tue, 18 Feb 2020 at 13:42, Mikael Svenson <notifications@github.com>
wrote:

[2020-02-18 13:02] wobba commented on #239
Added this:
![image](https://user-images.githubusercontent.com/51104/74738429-300cd080-5257-11ea-9d0c-fd9e98c71721.png)

[2020-02-18 13:55] SabbeRubbish commented on #239
Very clear, go with that!

[image: Sebastiaan Mindreau on about.me]

Sebastiaan Mindreau
about.me/sabberubbish

<http://about.me/sabberubbish>

On Tue, 18 Feb 2020 at 14:02, Mikael Svenson <notifications@github.com>
wrote:

[2020-03-03 07:01] justinkumar opened #246 "SharePoint scanner framework to scan SP on-premise versions"
I am sure this question must have been answered earlier :-)

We have a requirement to scan a large SP2013 environment hosted on Azure. Is it possible to use SharePoint scanner framework solution https://github.com/SharePoint/PnP-Tools/tree/master/Solutions/SharePoint.Scanning to tweak it according to our requirement with minimal effort?

J Justin

[2020-03-05 08:31] heinrich-ulbricht opened #247 "Search Query Tool Feature Suggestion: Allow login via credential manager (like PnP PowerShell)"
Since I'm using PnP PowerShell a lot I already have credentials for test/dev accounts stored in the Windows Credential Manager as the `Connect-PnPOnline` cmdlet accepts those for authentication.

![image](https://user-images.githubusercontent.com/3469970/75962009-50799380-5ec3-11ea-9058-4711493a3586.png)

It would be really handy if I could choose "Credential Manager" as Authentication (Method). T

[2020-03-05 11:47] wobba commented on #247
If someone PR's it, I will merge it. And shame on you for using classic auth 👍

[2020-03-05 12:43] heinrich-ulbricht opened #248 "SharePoint Search Query Tool: selecting lowercase title property breaks the Primary Results title"
**Observed behavior:**
When selecting _title_ as property to return then the Primary Results tab fails to display the titles.
When selecting _Title_ instead it works.

**Expected behavior:**
Also when selecting _title_ as property the Primary Results tab should display the titles properly. If I remember correctly this used to work in the past.

Note that from a search perspective the case doesn't

[2020-03-05 18:15] wobba commented on #248
As a general rule, always use the casing of the managed property as written in the schema - especially as some properties now are case sensitive as well (ref. https://www.techmikael.com/2019/02/eh-ok-beware-of-casing-when-using.html)

That said, I added a fix so it should work when we decide to put out the next version or you build it yourself :)

[2020-03-05 18:15] #248 closed

[2020-04-09 10:05] waaromikniet opened #249 "Search Query Tool not doing anything on a specific farm. Is there any logging?"
When I run the search query tool on my SP2013 development and test environment I get the results as expected. When I run this tool on my production farm the running progress bar is working but the search query tool gives no output. It looks like it is hanging on something. Is there any logging that I can analyze to see what is happening?

I am using 2.8.3 because I can't update .NET framework in m

[2020-04-09 10:34] waaromikniet commented on #249
I do see something like this in the ULS

[code]

[2020-04-09 11:44] waaromikniet commented on #249
When I put Fiddler in between I do see the request to the search api with a HTTP result of 200 and a correct result. So it seems that the result is not processed.

[2020-04-09 12:50] waaromikniet commented on #249
I tested the older version V2.7. This does work on my production farm.

What is changed that could cause V2.8.3 not to work? When I click on the connect to real time search debugging I get a assembly error for newtonsoft.json. Could this be a similar issue?

[2020-04-09 14:01] wobba commented on #249
There was threading issues introduced in the UI thread which has been fixed. You could pull the code, change the dotnet version to a lower and rebuild yourself. Or just stay with the older version which 🙂

[2020-04-09 14:01] #249 closed

[2020-06-11 01:42] GoonerW opened #252 "SearchQueryTool Feature Suggestion: Allow choice of nometadata for json"
The tool defaults to metadata=verbose for its json output.  Can we have an option to request minimal or nometadata?

[2020-06-11 08:03] wobba commented on #252
@GoonerW The tool itself as UI tool does not need it, and it's set to verbose to ensure backwards compatibility.

It's also a bit of work to support parsing of two more payloads + crafting POST queries in minimal.

What would the usecase be?

[2020-06-11 09:05] GoonerW commented on #252
I use the tool as an ad hoc query as I'm more of an admin that a developer (so manually crafting POST requests and the auth tokens is, while doable, not as easy).

I just wanted to be able to copy the JSON produced and having the option of nometadata would be useful.  If it's not a simple change to be able to accommodate the option then don't worry about it.  I was more asking that if it was a tri

[2020-06-11 12:05] wobba commented on #252
I thought about it a couple of years back, but didn't have a strong enough need at the time :) I'll keep it in mind.

[2020-06-16 12:49] stevebeauge opened #253 "Search query tool doesn't works with single quote in query"
Version of SQT : 2.8.6.1 (side note: the app reports 2.8.6.0 although the zip file is 2.8.6.1.zip...)
OS: Win 10 2004
Target: SP Online

I want to perform some searches that contains a `'` but the search fails.

Exemple: search for `it's working` fails.

### Using GET verb:

[code]

Which can be translated into `querystring parameter 'querytext' is missing or incorrect`.

I guess this is due to an

[2020-06-16 13:25] wobba commented on #253
Search doesn't index quotes anyways, but I'll add it as an improvement point to escape the user query.

[2020-06-16 13:31] stevebeauge commented on #253
I'm not sure what's behind the scene, but I observe that querying with managed props where "exact match" is set to on, single quotes are taken into account.

Basically, this query works in my browser and returns expected data:

[code]

[2020-06-16 14:58] wobba commented on #253
@stevebeauge no one uses that, do they 😁 but fair point.

[2020-07-01 17:37] joshtransient commented on #247
I have a larger problem with the "authenticate using specific user account" selection - Integrated Windows Auth kicks in for me no matter which domain I use. Could we just add an additional field that shows with that choice that adds ?loginhint to the authentication URL?

[2020-07-01 17:47] wobba commented on #247
@joshtransient SharePoint Online (app) login doesn't work for you? It should prompt every time.

[2020-07-01 17:53] joshtransient commented on #247
That's my bad, retracted. I never tried "SharePoint Online (App Id)" because I assumed it was expecting a GUID from an Azure AD app or one registered with /_layouts/15/appregnew.aspx.

[2020-07-01 21:07] wobba commented on #247
I might rename it (again) to something better.

[2020-07-02 11:22] Phil1108 opened #254 "SearchQueryTool: Get Ranklog XML through RestAPI"
Is it possible to retrieve the results which are shown when clicking on the "Show rank details" button in the Search Query Tool via the Rest API?
It should be a XML as visible in the Window which opens then.

The Documentation only provides few information about the "generateblockranklog=true" parameter which one has to add to GET Requests but the return value does not contain the RankLog.xml info

[2020-07-03 15:28] wobba commented on #254
You can ask to retrieve the managed property `rankdetail` as part of `SelectProperties`. I think you need all of these for it to work:

`RankDetail,Title,Path,Language,WorkID`

[2020-07-03 15:28] #254 closed

[2020-07-31 18:07] hasankoroglu opened #255 "MIM Sync Service 4.6.258 and Windows Server 2019"
Hi,

When i run the SHarePointSync.psm1, it throw an error like;

MY Server OS is: Windows Server 2019 Standard Version 1809

What i have to do?

[2020-08-03 08:02] harbars commented on #255
Quickest way is to update SharePointSync.psm1 (at line 89) to accommodate the later builds of MIM:

if ($MimPowerShellModuleAssembly.VersionInfo.ProductMajorPart -eq 4 -and
                (
                                (
                                $MimPowerShellModuleAssembly.VersionInfo.ProductMinorPart -eq 3 -and
                                $MimPowerShellModuleAssembly.VersionInfo.P

[2020-08-04 13:12] hasankoroglu commented on #255
Thanks Mr. Harbar.

[2020-08-04 13:12] #255 closed

[2020-08-17 13:54] wobba commented on #239
@SabbeRubbish Added a change which I think will allow web login to work better :)

[2020-08-17 13:55] wobba commented on #240
Closing as the issue has no follow ups.

[2020-08-17 13:56] wobba commented on #247
Did a commit just now to make the web login work better on prompting. Not credential manager, which I think is a bad idea anyways as I hope more and more tenants disable classic auth.

[2020-08-17 13:56] #247 closed

[2020-08-17 14:25] wobba commented on #253
Fixed